/**************
 * Bottom bar *
 **************/

@import url("stylesheet.css");

#panel.bottom-panel {
  height: 30px; // = 2.25em
  border-top-width: 1px;
  border-bottom-width: 0;
  border-color: $panel_bg_color;
  background-color: $panel_bg_color;
  background-gradient-drection: vertical;
  background-gradient-start: $panel_bg_color;
  background-gradient-end: $panel_bg_color;
  color: $osd_fg_color;
}

#panel {
  height: 30px; // = 2.25em
  border-top-width: 0;
  border-bottom-width: 1px;
  border-color: $panel_bg_color;
  background-color: $panel_bg_color;
  background-gradient-drection: vertical;
  background-gradient-start: $panel_bg_color;
  background-gradient-end: $panel_bg_color;
  color: $osd_fg_color;

  .panel-button {
    &:active,
    &:focus {
      background-color: rgba(19, 25, 28, 0.01);
      background-gradient-drection: vertical;
      background-gradient-start: rgba(19, 25, 28, 0.01);
      background-gradient-end: rgba(19, 25, 28, 0.01);
    }
  }
}

