// /*************************
//  * VolumeMixer Extension *
//  *************************/

.masterslider.smaller {
  .masterlabel,
  .slider {
    min-width: 15em - (0.4em * 2);
  }
}

// /*******************************
//  * Applications Menu Extension *
//  *******************************/

.popup-menu {
  // '.apps-menu' is the child boxLayout (right-pane)
  StScrollView.apps-menu {
    margin: 0 4px;
    border-style: solid;
    border-color: $div_fg;

    &:ltr {
      padding: if($ref_weight >= 1.0, 0 0 0 12px, 0 0 0 8px);
      border-left-width: 1px;
    }
    &:rtl {
      padding: if($ref_weight >= 1.0, 0 12px 0 0, 0 8px 0 0);
      border-right-width: 1px;
    }
  }
}

// /**********************
//  * Arc Menu Extension *
//  **********************/

.main-box {
  background-color: $dark_bg;

  .popup-menu {
    &:ltr { padding-right: 4px; }
    &:rtl { padding-left: 4px; }
  }

  // use tiny padding
  .system-menu-action {
    &,
    &:focus,
    &:hover,
    &:active,
    &:checked { padding: 10px; }
  }

  StScrollView.apps-menu { // left-pane
    margin-bottom: if($ref_weight >= 1.0, 6px, 4px);
    padding: 0;
    border-width: 1px;
    background-color: $bg;

    StIcon { icon-size: 16px; }
  }
}

// /**********************
//  * Gno-Menu Extension *
//  **********************/

%stackswitcher_box {
  border-color: $div_sld_fg;
  background-color: $light_bg;
}

%stackswitcher_button {
  padding: if($ref_weight >= 1.0, 7px 0.8em 8px, 5px 0.6em 6px);
  border-color: $div_sld_fg;
  background-color: $light_bg !important;
  color: $sec_fg;
  box-shadow: $empty_shadow;
  font-weight: 500;
  &:hover,
  &:focus {
    background-color: mix($light_bg, $fg, percentage(1 - $a_trk_1)) !important;
    color: $fg;
  }
  &:active {
    background-color: mix($light_bg, $fg, percentage(1 - $a_trk_2)) !important;
    color: $fg;
  }
  &:checked { // ignored?
    &, &:hover {
      background-color: $sel_bg !important;
      color: $sel_fg !important;
    }
  }
  &:insensitive {
    background-color: $light_bg;
    color: $dis_fg;
  }
}

#gnomenuMenuMainbox {
  &, > * { transition-duration: $tr_d_non; }

  StEntry {
    &, &:focus {
      min-height: 0;
      padding: if($ref_weight >= 1.0, 7px 0.8em 8px, 5px 0.6em 6px);
      border-color: $div_sld_fg;
      background-color: $light_bg;
      box-shadow: $empty_shadow;
    }
  }
}

.gnomenu {
  &-user-group {
    &-box { @extend %stackswitcher_box; }

    &-button {
      &:first-child,
      &:last-child { @extend %stackswitcher_button; }
    }
  }

  &-view-mode {
    &-box { @extend %stackswitcher_box; }

    &-button {
      &:first-child,
      &:last-child { @extend %stackswitcher_button; }
    }
  }

  &-selected-app {
    &-title { color: $sec_fg; }

    &-description { color: $ter_fg; }
  }
}

// /*************************
//  * OpenWeather Extension *
//  *************************/

.openweather {
  &-button,
  &-menu-button-container,
  &-button-box,
  &-provider {
    color: $sec_fg;
    &:hover {
      color: $fg;
      background-color: $semi_fill_bg;

      > StIcon { color: $fg; }
    }
    &:active,
    &:focus {
      color: $fg;
      background-color: $fill_bg;

      > StIcon { color: $fg; }
    }

    > StIcon,
    > StLabel { color: $sec_fg; }
  }

  &-current {
    &-icon,
    &-summary,
    &-summarybox { color: $fg; }

    &-databox-values { color: $ter_fg; }

    &-databox-captions { color: $ter_fg; }
  }

  &-forecast {
    &-icon,
    &-summary { color: $sec_fg; }

    &-day,
    &-temperature { color: $ter_fg; }
  }

  &-sunrise-icon,
  &-sunset-icon,
  &-build-icon { color: $sec_fg; }
}

// /**************************
//  * Dash to Dock Extension *
//  **************************/

$hard_coded_alpha: 0.2;
$alpha_override: 0.54 - $hard_coded_alpha;

#dashtodockContainer {
  background: transparent;

  #dash,
  &:overview #dash,
  &.extended #dash,
  &.extended:overview #dash {
    padding: 0;
    border: none;
    transition-duration: $tr_d_lng;
  }

  @each $_dock, $_radius in (top, 0 0 $r_2 $r_2),
                            (bottom, $r_2 $r_2 0 0),
                            (left, 0 $r_2 $r_2 0),
                            (right, $r_2 0 0 $r_2) {
    &.#{$_dock} #dash,
    &.#{$_dock}:overview #dash { border-radius: #{$_radius}; }

    &.#{$_dock}.extended #dash,
    &.#{$_dock}.extended:overview #dash { border-radius: 0; }
  }

  #dash { // default-mode
    background-color: $panel_bg;
    box-shadow: $empty_shadow;
  }

  &.opaque #dash { // solid-mode
    background-color: $panel_bg;
    // FIXME: enforce opaque background
    box-shadow: inset 0 0 0 9999px $panel_bg;
  }

  &.transparent #dash { // translucent-mode
    background-color: $panel_hidden_bg; // does not work
    // FIXME: add lacked alpha via box-shadow property
    box-shadow: inset 0 0 0 9999px opacity($panel_bg,
                                           $alpha_override);
  }

  &:overview #dash { // overview-mode #1
    background-color: $ovv_semi_fill_bg;
    box-shadow: $empty_shadow;
  }

  &.opaque:overview,
  &.transparent:overview { // overview-mode #2
    #dash {
      background-color: $panel_hidden_bg;
      box-shadow: inset 0 0 0 9999px $ovv_semi_fill_bg;
    }
  }

  &.extended:overview, // overview-mode #3
  &.opaque.extended:overview,
  &.transparent.extended:overview {
    #dash {
      background-color: $panel_hidden_bg;
      box-shadow: $empty_shadow;
    }
  }

  .app-well-app,
  .show-apps {
    .overview-icon {
      padding: 9px;
      background-size: contain;
    }
  }

  .dash-item-container { // actual parent container
    background: transparent;

    > StWidget { background-size: contain; }
  }

  .number-overlay,
  .notification-badge {
    min-width: if($ref_weight >= 1.0, 1.6em, 1.4em);
    min-height: if($ref_weight >= 1.0, 1.6em, 1.4em);
    margin: 0; // unset margin/padding
    padding: 0;
    border-radius: $r;
    font-weight: 700;
    text-align: center;
    box-shadow: $z-depth-2;
  }

  .number-overlay {
    background-color: $osd_bg;
    color: $osd_fg;
  }

  .notification-badge {
    background-color: $sggt_bg;
    color: $sel_fg;
  }
}

@each $_dock in top, bottom, left, right {
  #dashtodockContainer.#{$_dock},
  #dashtodockContainer.extended.#{$_dock} {
    .dash-item-container > StWidget.focused { // fill whole focused backgrounds
      .overview-icon {
        border-radius: 0;
        background-color: $ovv_semi_fill_bg;
      }

      &:hover .overview-icon {
        border-radius: 0;
        background-color: $ovv_fill_bg;
      }
    }
  }
}

// /***************************
//  * Dash To Panel Extension *
//  ***************************/

@each $_position, $_line in (Top, 0 2px),
                            (Bottom, 0 -2px) {
  #panel.dashtopanelMainPanel.dashtopanel#{$_position} {
    #panelLeft,
    #panelCenter,
    .panel-corner,
    .panel-button {
      &:hover {
        box-shadow: inset #{$_line} $osd_out_fg;
      }
      &:active,
      &:focus,
      &:checked,
      &:overview {
        box-shadow: inset #{$_line} $sel_bg;
      }
    }

    .app-well-app,
    .show-apps {
      .overview-icon { border-radius: 0; }

      &:focus .overview-icon,
      &:hover .overview-icon,
      &:active .overview-icon {
        border-radius: 0;
        background-color: $hidden_fill_bg;
        box-shadow: inset #{$_line} $osd_out_fg;
      }
      &:checked .overview-icon {
        box-shadow: inset #{$_line} $sel_bg;
      }
    }

    #dashtopanelScrollview {
      padding: 0;

      .app-well-app,
      .show-apps { // unset underlines
        &:focus .overview-icon,
        &:hover .overview-icon,
        &:active .overview-icon {
          background-color: $osd_semi_fill_bg;
          box-shadow: $empty_shadow;
        }
        &:checked .overview-icon {
          background-color: $hidden_fill_bg;
          box-shadow: $empty_shadow;
        }
      }
    }

    .show-apps:checked .show-apps-icon, // override indicator colour
    .show-apps:checked:hover .show-apps-icon { color: $osd_fg; }
  }
}
