// /*************************
//  * Window-List Extension *
//  *************************/

.bottom-panel {
  // .window-button-icon height +
  // .window-button vertical padding +
  // .window-button > StWidget vertical padding)
  min-height: 30px; // = 2.25em
  height: 2.2em;
}

.window-list {
  @include fontscaling($ref_size * 1.0);
  spacing: 2px;
}

.window-button {
  padding: 1px;

  &:first-child:ltr { padding-left: 2px; }
  &:last-child:rtl { padding-right: 2px; }

  &-box { spacing: 4px; }

  > StWidget {
    -st-natural-width: 18.75em;
    max-width: 18.75em;
    padding: 3px 6px 1px;
    border-radius: 0;
    background-color: $panel_hidden_bg;
    background-gradient-drection: vertical;
    background-gradient-start: $panel_hidden_bg;
    background-gradient-end: $panel_hidden_bg;
    color: $osd_sec_fg;
    box-shadow: none;
    text-shadow: none;
  }

  &:hover > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $osd_semi_fill_bg;
    background-gradient-end: $osd_semi_fill_bg;
    color: $osd_fg;
    box-shadow: inset 0 -2px $osd_out_fg;
  }

  &:active > StWidget,
  &:focus > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $osd_semi_fill_bg;
    background-gradient-end: $osd_semi_fill_bg;
    color: $osd_fg;
    box-shadow: inset 0 -2px $sel_bg;
  }

  &.focused {
    & > StWidget,
    &:active > StWidget {
      color: $osd_fg;
      box-shadow: inset 0 -2px $sel_bg;
    }
  }

  &.minimized {
    > StWidget {
      color: $osd_ter_fg;
      box-shadow: none;
    }
    &:hover > StWidget {
      background-gradient-drection: vertical;
      background-gradient-start: $osd_semi_fill_bg;
      background-gradient-end: $osd_semi_fill_bg;
      box-shadow: inset 0 -2px $osd_out_fg;
      color: $osd_fg;
    }
    &:active > StWidget {
      background-gradient-drection: vertical;
      background-gradient-start: $osd_semi_fill_bg;
      background-gradient-end: $osd_semi_fill_bg;
      box-shadow: inset 0 -2px $sel_bg;
      color: $osd_fg;
    }
  }

  &-icon {
    width: $icon_size * 1.5;
    height: $icon_size * 1.5;
  }
}

.window-list-workspace-indicator {
  padding: 3px;

  > StWidget {
    border: 1px solid $osd_out_fg;
    background-color: $panel_hidden_bg;
    background-gradient-drection: vertical;
    background-gradient-start: $panel_hidden_bg;
    background-gradient-end: $panel_hidden_bg;
    color: $osd_sec_fg;
    font-weight: 700;
  }

  &:hover > StWidget {
    background-gradient-drection: vertical;
    background-gradient-start: $osd_semi_fill_bg;
    background-gradient-end: $osd_semi_fill_bg;
    color: $osd_fg;
  }
  &:active > StWidget,
  &:checked > StWidget,
  &:focus > StWidget {
    border: 1px solid $sel_bg;
    background-gradient-drection: vertical;
    background-gradient-start: opacity($sel_bg, $a_trk_out);
    background-gradient-end: opacity($sel_bg, $a_trk_out);
    color: $osd_fg;
  }
}

.notification { font-weight: 500; }
