// /***********
//  * Pad-OSD *
//  ***********/

.Leader {
  stroke-width: 0.5 !important;
  stroke: $acc_fg !important;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: $acc_fg;
  fill: $acc_semi_fill_bg;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: $acc_fg !important;
  fill: none !important;
}

.Label {
  stroke-width: 0.1 !important;
  stroke: none !important;
  fill: transparent !important;
  font-size: 0.1 !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: $acc_fg !important;
  fill: $acc_fill_bg !important;
}
