*.css
*.pak
assets-gtk2
assets-gtk3
assets-gtk2.svg
assets-gtk3.svg
gtk-3.20
gtk-3.20-eta
gtk-3.22
gtk-3.22-eta
gtk-4.0
gtk-4.0-eta
gtk.gresource
_key_colors.scss
colors-dark.rc
colors.rc
gnome-shell-theme.gresource
gnome-shell/assets
gnome-shell-eta/assets
gnome-shell-nokto/assets
gnome-shell-nokto-eta/assets
workspaces-to-dock/assets
cinnamon/assets
cinnamon-nokto/assets
xfce-notify-4.0/*.svg
unity/*.svg
metacity-1/*.svg
xfwm4/*.png
openbox-3/*.xbm
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
Makefile
Makefile.in
missing
inkscape.log
ColorDeck-adapta.cdk
ColorDeck-adapta-nokto.cdk
