/******************
 * Budgie Desktop *
 ******************/

// orientation
$orientation: ((top, bottom),
               (bottom, top),
	       (left, right),
	       (right, left));

// panel styling
.budgie-panel {
  // Always use dark-color of dark variant
  color: $inverted_secondary_fg_color;
  background-color: $panel_bg_color;

  // panel border styling
  @each $along_side, $opp_side in $orientation {
    .#{$along_side} & { border-#{$along_side}: 2px solid #000000; }
  }
}

@each $along_side, $opp_side in $orientation {
  // panel shadow styling
  .#{$along_side} .shadow-block {
    background-color: transparent;
    background-image: linear-gradient(to $opp_side,
                                      gtkalpha(#000000, 0.24),
                                      transparent);
  }

  // raven border styling
  .#{$along_side} .raven-frame {
    padding: 0;
    border: none;
    border-#{$opp_side}: 1px solid $borders_color;
    background: none;
  }
}

// wnck tasklist styling
.budgie-panel WnckTasklist {
  .button {
    border: none;
    background: none;
    opacity: 0.5;
    &:hover,
    &:active,
    &:checked { opacity: 1.0; }
  }
}

// icon tasklist styling
// FIXME: can not set opaque to minimized/unfocused?
.budgie-panel {
  .launcher {
    transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 2px solid transparent;
    background-image: none;
    opacity: 0.5;
    &:hover {
      -gtk-image-effect: highlight;
      opacity: 1.0;
    }
    &:active,
    &:checked { opacity: 1.0; }

    .unpinned &,
    .pinned &.running { opacity: 1.0; }
  }
}

// draw underscores
@each $along_side, $opp_side in $orientation {
  .#{$along_side} .budgie-panel {
    WnckTasklist .button {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }
    .launcher {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }
  }
}

// dialog styling
.budgie-run-dialog {
  border-radius: 2px;
  border: 1px solid $borders_color;
}

.budgie-session-dialog {
  border-radius: 2px;
  border-width: 0;
  // Always use dark-color of dark variant
  background-color: $inverted_bg_color;
  color: $inverted_secondary_fg_color;
  font-weight: bold;
  opacity: 0.9;

  .button,
  .linked > .button {
    @extend .button.flat;
    padding: 0.7em 1em 0.8em;
    border: 2px solid transparent;
    border-radius: 0;
    color: $secondary_accent_color;
    background-color: transparent;
    background-size: 192px * 1 / 0.8 192px * 1 / 0.8, auto;
    &:hover {
      @include button(flat-hover);
      color: $accent_color;
    }
    &:active {
      @include button(flat-active);
      color: $accent_color;
    }
    &:checked {
     @include button(flat-checked);
      color: $secondary_accent_color;
    }
    &:insensitive { @include button(flat-insensitive); }

    &:first-child {
      border-bottom-left-radius: 2px;
      border-right-width: 0;
    }
    &:last-child {
      border-bottom-right-radius: 2px;
      border-left-width: 0;
    }
  }
}

.budgie-polkit-dialog {
  @extend .budgie-session-dialog;

  .message { color: $secondary_fg_color; }
  .failure {
    color: $accent_color;
    font-weight: bold;
  }
}

.drop-shadow {
    background-color: transparent;
    background-image: none;
    box-shadow: $z-depth-2;
    border-radius: 2px;
}


/*****************
 * Unity Desktop *
 *****************/

// window decorations
UnityDecoration {
  -UnityDecoration-extents: 3.4em 1 1 1;
  -UnityDecoration-input-extents: 8px;

  -UnityDecoration-shadow-offset-x: 0px;
  -UnityDecoration-shadow-offset-y: 8px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.24);
  -UnityDecoration-active-shadow-radius: 12px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.16);
  -UnityDecoration-inactive-shadow-radius: 6px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 1.5em;
  -UnityDecoration-title-fade: 3.4em;
  -UnityDecoration-title-alignment: 0.0;

  &.top {
    border: 1px solid $borders_color;
    border-bottom-width: 0;
    border-radius: 2px 2px 0 0;
    padding: 0.1em 0.4em 0 0.4em; // FIXME: too much tiny!

    background-image: linear-gradient(to bottom, $inverted_dark_color);
    // The foreground color will be used to paint the text
    color: $inverted_fg_color;
    box-shadow: inset 0 1px $highlight_color;

    &:backdrop {
      border-bottom-width: 0;
      color: $insensitive_inverted_fg_color;
    }
  }
  &.left,
  &.right,
  &.bottom {
    &, &:backdrop {
      background-image: linear-gradient(to bottom, $borders_color);
    }
  }
}

// panel styling
UnityPanelWidget,
.unity-panel {
  color: $inverted_fg_color;
  background-color: gtkopacity($inverted_dark_color, 0.88);
  box-shadow: inset 0 -1px $highlight_color; // edge-highlight like HUD
  border-bottom: 1px solid $borders_color;
}

.unity-panel.menubar {
  &.menuitem,
  & .menuitem * {
    border-radius: 0;
    color: $inverted_fg_color;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }

  &.menuitem:hover,
  & .menuitem *:hover {
    color: $selected_fg_color;
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}


/************
 * Corebird *
 ************/

// use normal foreground colour
GtkStack .button.profile-button {
  &:checked { color: $fg_color; }
}

// account menu button
.titlebar.header-bar GtkBox {
  .button.account-button { // left-most account-button
    // revert to square button since we can't make perfect circle button
    border-radius: 2px;
    outline-radius: 2px;

    // FIXME: it can't override its own styleshoot
    .avatar-round { border-color: transparent; }
  }
}

/********
 * Nemo *
 ********/

.nemo-desktop.nemo-canvas-item {
  @extend .nautilus-desktop.nautilus-canvas-item;
}

NemoWindow {
  // Workaround for invisible text in rename entry
  EelEditableLabel.entry { transition: none; }

  // draw bottom border of toolbar
  .toolbar {
    border-bottom: 1px solid $borders_color;

    .button.toggle,
    .linked > .button {
      padding: 0.3em 1.2em 0.4em;
      &.image-button {
        border-radius: 100px;
	outline-radius: 100px;
      }
    }

    // tweak path-bar buttons
    .path-bar .button,
    .path-bar .linked > .button {
      padding: 0.3em 1.2em 0.4em;
      &, &.image-button {
        border-radius: 2px;
	outline-radius: 2px;
	&:insensitive { color: $insensitive_secondary_fg_color; }
      }
    }
  }

  // tweak notebook colour
  .notebook { background-color: $base_color; }

  // tweak sidebar
  .sidebar {
    .frame { border-width: 0; } // remove double-border

    GtkDrawingArea { background-color: transparent; }
  }

  // force using flat-style on bottom bar
  GtkGrid > GtkEventBox {
    padding: 0.2em;
    background-color: $secondary_dark_color;
    box-shadow: $inline-shadow;

    > .toolbar {
      background-color: transparent;
      box-shadow: none;
    }

    > .toolbar .button.image-button {
      @extend .button.flat;
      border-radius: 2px;
      outline-radius: 2px;
      padding: 0.7em 1em 0.8em;
      box-shadow: none;
      border-image: -gtk-gradient(radial,
                                  center bottom, 0,
                                  center bottom, 0.001,
                                  to($track_color),
                                  to(transparent))
                                  0 0 0 / 0 0 0px;
      color: $secondary_fg_color;
      &:hover {
        box-shadow: none;
        border-image: none;
        color: $fg_color;
      }
      &:checked {
        box-shadow: none;
        border-image: -gtk-gradient(radial,
                                    center bottom, 0,
                                    center bottom, 0.5,
                                    to($selected_bg_color),
                                    to(transparent))
                                    0 0 2 / 0 0 2px;
        background-color: transparent;
        color: $fg_color;
        &:insensitive {
          box-shadow: none;
          background-color: transparent;
          color: $insensitive_fg_color;
          border-image: none;
          > label { color: inherit; }
        }
      }
      &:insensitive {
        box-shadow: none;
        background-color: transparent;
        color: $insensitive_secondary_fg_color;
        border-image: none;
      }
    }

    > .toolbar .separator.vertical { // remove separator
      -GtkWidget-separator-width: 0;
      border: 0 none transparent;
      color: transparent;
    }
  }
}

