//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}


//
// A Color palette
//
// Adapta uses google's palette:
// [https://www.google.com/design/spec/style/color.html#color-color-palette]
//


//
// Foreground colors
//

$fg_color: if($variant == 'light', #263238,                     // = BluGry900
                                   #ECEFF1);                    // = BluGry50
$secondary_fg_color: gtkopacity($fg_color, 0.75);
$tertiary_fg_color: gtkopacity($fg_color, 0.5);

$selected_fg_color: #FFFFFF;                                    // = White
$secondary_selected_fg_color: gtkopacity($selected_fg_color, 0.85);
$tertiary_selected_fg_color: gtkopacity($selected_fg_color, 0.7);

$insensitive_fg_color: gtkopacity($fg_color, 0.3);
$insensitive_secondary_fg_color: gtkopacity($secondary_fg_color, 0.3);
$insensitive_tertiary_fg_color: gtkopacity($tertiary_fg_color, 0.3);

$insensitive_selected_fg_color: gtkopacity($selected_fg_color, 0.4);
$insensitive_secondary_selected_fg_color: gtkopacity($secondary_selected_fg_color, 0.4);
$insensitive_tertiary_selected_fg_color: gtkopacity($tertiary_selected_fg_color, 0.4);

// preview text on empty GtkEntry
$placeholder_text_color: if($variant == 'light', #CFD8DC,       // = BluGry100
                                                 #607D8B);      // = BluGry500


//
// Inverted foreground colors
//

$inverted_fg_color: #ECEFF1;                                    // = BluGry50
$inverted_secondary_fg_color: gtkopacity($inverted_fg_color, 0.75);

$insensitive_inverted_fg_color: gtkopacity($inverted_fg_color, 0.3);
$insensitive_inverted_secondary_fg_color: gtkopacity($inverted_secondary_fg_color, 0.3);

$fixed_fg_color: #263238;                                       // = BluGry900
$secondary_fixed_fg_color: gtkopacity($fixed_fg_color, 0.75);
$insensitive_fixed_fg_color: gtkopacity($fixed_fg_color, 0.3);


//
// Background colors
//

$bg_color: if($variant == 'light', mix(#FFFFFF, #ECEFF1, 75%),  // = W _ 50
                                   mix(#455A64, #37474F, 50%)); // = 700 _ 800
$base_color: if($variant == 'light', #FFFFFF,                   // = White
                                     #455A64);                  // = BluGry700
$secondary_base_color: mix($base_color, $bg_color, 50%);        // = W _ 50
$light_color: if($variant == 'light', $base_color,              // = White
                                      #546E7A);                 // = BluGry600
$dark_color: if($variant == 'light',
                mix(#ECEFF1, #CFD8DC, 75%),                     // =  50 _ 100
                mix(#263238, #37474F, 75%));                    // = 900 _ 800
$secondary_dark_color: if($variant == 'light',
                          mix(#FFFFFF, #ECEFF1, 60%),           // = W _ 50
                          mix(#455A64, #37474F, 25%));          // = 700 _ 800


//
// Dark background colors on light variant
//

$inverted_bg_color: mix(#455A64, #37474F, 50%);                 // = 700 _ 800
$inverted_base_color: #455A64;                                  // = BluGry700
$inverted_dark_color: mix(#263238, #37474F, 75%);               // = 900 _ 800


//
// Selection (primary) colors
//

$selected_bg_color: #00BCD4;                                    // = Cyan500
$secondary_selected_bg_color: #4DD0E1;                          // = Cyan300


//
// Accent (secondary) colors
//

$accent_color: #4DB6AC;                                         // = Teal300
$secondary_accent_color: gtkopacity($accent_color, 0.9);
$accent_fill_color: gtkopacity($inverted_fg_color, 0.1);
$drop_target_color: $accent_color;
$drop_target_fill_color: gtkopacity($drop_target_color, 0.2);


//
// Tracker colors
//

$track_color: gtkalpha(currentColor, 0.2);


//
// Edge colors
//

$borders_color: if($variant == 'light', gtkopacity(#000000, 0.09),
                                        gtkopacity(#000000, 0.11));
$solid_light_borders_color: if($variant == 'light', #E5E9EC, #37474F);
$solid_dark_borders_color: #242F35;
$top_edge_border_color: #37474F;
$paned_borders_color: if($variant == 'light', gtkopacity(#000000, 0.05),
                                              gtkopacity(#000000, 0.06));

$highlight_color: gtkopacity(#FFFFFF, 0.07);


//
// Misc colors
//

$link_color: #03A9F4;                                           // = LtBlu500
$link_visited_color: #9C27B0;                                   // = Purple500

$warning_color: #FF9800;                                        // = Orange500
$error_color: #F44336;                                          // = Red500
$success_color: #00E676;                                        // = GreenA400

$suggested_color: #009688;                                      // = Teal500
$destructive_color: #FF5252;                                    // = RedA200
$selection_color: #80DEEA;                                      // = Cyan200

$info_bg_color: #00E5FF;                                        // = CyanA400
$question_bg_color: #FFEA00;                                    // = YellwA400
$warning_bg_color: #FF9100;                                     // = OrangA400
$error_bg_color: #FF1744;                                       // = RedA400


//
// Solid panel color
//

$panel_bg_color: mix(#263238, #000000, 50%);                    // = BluGry900

