#
# Colour scheme
#
gtk-color-scheme = "base_color:#FFFFFF\nbg_color:#FAFBFC"
gtk-color-scheme = "text_color:#263238\nfg_color:#263238"
gtk-color-scheme = "selected_bg_color:#00BCD4\nselected_fg_color:#FFFFFF"
gtk-color-scheme = "tooltip_bg_color:#2A373E\ntooltip_fg_color:#ECEFF1"
