/**
 * Firefox custom CSS for Numix GTK Theme
 * To use with Firefox Numix Theme : https://addons.mozilla.org/fr/firefox/addon/numix-gtk3theme/
 * Better with Omnibar FIrefox Add-On : https://addons.mozilla.org/fr/firefox/addon/omnibar/
 */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Awesomebar improvements */
#urlbar {
    -moz-appearance: textfield !important;
}

#urlbar .autocomplete-textbox-container {
    background-color: -moz-Field !important;
    -moz-appearance: none !important;
}

#urlbar > .autocomplete-history-dropmarker {
    -moz-appearance: toolbarbutton-dropdown !important;
    margin: 0px 3px 0px 5px !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem
{
    background: -moz-Field !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"]
{
    background: Highlight !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"],
#PopupAutoCompleteRichResult .autocomplete-richlistitem[selected="true"] *
{
    color: HighlightText !important;
}

.ac-title
{
    color: -moz-Fieldtext !important;
}

#PopupAutoComplete .autocomplete-treebody {
    background-color: -moz-Field !important;
    color: -moz-Fieldtext !important;
}

/* Identity/Bookmark pop-up improvements */
#identity-popup-container {
    -moz-appearance: dialog !important;
}

#editBookmarkPanel {
    -moz-appearance: dialog !important;
}

#editBMPanel_foldersExpander, #editBMPanel_tagsSelectorExpander {
    -moz-appearance: menulist-button !important;
}

/* Remove focus lines from tabs */
.tabbrowser-tab > .tab-text {
    border: 1px dotted transparent !important;
}

/* Square tabs */
.tabs-newtab-button,
.tabbrowser-tab:not([selected]) {
  background-color: transparent !important;
  color: #555555 !important;
  border: none !important;
  background-image: none !important;
  border-radius: 0 !important;
}

.tabs-newtab-button:hover,
.tabbrowser-tab:not([selected]):hover {
  background-color: #333333 !important;
  color: #dedede !important;
}

.tabbrowser-tab[selected]
{
	background-color: #444444 !important;
	color: #dedede !important;
	border: none !important;
	border-radius: 0 !important;
	background-image: none !important;
}


.tabbrowser-tab {
	padding: 0 2px !important;
	margin: 0 !important;
}
 
#nav-bar {
	background-image: none !important;
	background-color: #444444 !important;
}

#urlbar, #search-bar {
	-moz-appearance: none !important;
}