style "theme-panel" {

  ythickness = 0

  bg[NORMAL] = "#13191C"
  bg[ACTIVE] = @selected_bg_color
  bg[PRELIGHT] = shade(1.1, @selected_bg_color)
  bg[SELECTED] = @selected_bg_color
  fg[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  fg[PRELIGHT] = @selected_fg_color
  fg[ACTIVE] = @selected_fg_color
  fg[SELECTED] = @selected_fg_color
  text[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  text[PRELIGHT] = "#ECEFF1"
  text[ACTIVE] = "#ECEFF1"
  text[SELECTED] = "#ECEFF1"

  font_name = "Bold"
}

style "panelbar" {
  fg[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  fg[ACTIVE] = @selected_fg_color
  fg[PRELIGHT] = @selected_fg_color
  fg[SELECTED] = @selected_fg_color
  bg[SELECTED] = @selected_bg_color

  font_name = "Bold"
}

style "panelbuttons" {
  xthickness = 5
  ythickness = 0

  fg[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  fg[PRELIGHT] = @selected_fg_color
  fg[ACTIVE] = @selected_fg_color
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = mix(0.4, @selected_fg_color, @fg_color)

  font_name = "Bold"

  engine "pixmap" {
    image {
      function = BOX
      state    = NORMAL
      file     = "Others/null.svg"
      border   = { 0, 0, 0, 2 }
      stretch  = TRUE
    }
    image {
      function = BOX
      state    = ACTIVE
      file     = "Others/top.svg"
      border   = { 0, 0, 0, 2 }
      stretch  = TRUE
    }
    image {
      function = BOX
      state    = PRELIGHT
      file     = "Others/top-hover.svg"
      border   = { 0, 0, 0, 2 }
      stretch  = TRUE
    }
    image {
      function = BOX
      state    = INSENSITIVE
      file     = "Others/null.svg"
      border   = { 0, 0, 0, 2 }
      stretch  = TRUE
    }
  }
}

style "theme-panel-text" {
  fg[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  fg[PRELIGHT] = @selected_fg_color
  fg[ACTIVE] = @selected_fg_color
  text[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  text[PRELIGHT] = @selected_fg_color
  text[ACTIVE] = @selected_fg_color

  font_name = "Bold"
}

style "panel-entry" {
  fg[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  fg[PRELIGHT] = "#ECEFF1"
  fg[ACTIVE] = @selected_fg_color
  fg[SELECTED] = @selected_fg_color
  fg[INSENSITIVE] = mix(0.4, @selected_fg_color, @fg_color)
  text[NORMAL] = mix(0.8, @selected_fg_color, shade(0.96, @fg_color))
  text[PRELIGHT] = "#ECEFF1"
  text[ACTIVE] = @selected_fg_color
  text[SELECTED] = @selected_fg_color
  text[INSENSITIVE] = mix(0.4, @selected_fg_color, @fg_color)
}

style "theme-main-menu-text" = "theme-panel-text" {
  fg[PRELIGHT] = @selected_fg_color
  text[PRELIGHT] = @selected_fg_color
}

style "workspace-switcher" = "theme-panel" {
  bg[NORMAL] = @fg_color
  bg[SELECTED] = @selected_bg_color
}

style "indicator" = "panelbuttons" {
  xthickness = 0
  ythickness = 0
}

widget "*tasklist*"                                   style "panelbuttons"
widget_class "*Xfce*Panel*.GtkToggleButton"           style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"     style "panelbuttons"
widget_class "*PanelToplevel*Button"                  style "panelbuttons"
widget_class "*Panel*GtkToggleButton"                 style "panelbuttons"
widget_class "*Xfce*Panel*Button*"                    style "panelbuttons"
widget_class "*<XfceArrowButton>"                     style "panelbuttons"
widget_class "*<XfceActionsPlugin>*"                  style "panelbuttons"
widget_class "*XfcePanelPlugin.GtkButton"             style "panelbuttons"
widget "*dict*Applet*"                                style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"     style "panelbuttons"
widget_class "*Tasklist*"                             style:highest "panelbuttons"

class "*Panel*MenuBar*"                               style "panelbar"
widget_class "*Panel*MenuBar*"                        style "panelbar"
widget_class "*Panel*MenuBar*Item*"                   style:highest "panelbar"

widget "*PanelWidget*"                                style "theme-panel"
widget "*PanelApplet*"                                style "theme-panel"
widget "*fast-user-switch*"                           style "theme-panel"
widget "*CPUFreq*Applet*"                             style "theme-panel"
widget "*TopMenu*"                                    style "theme-panel"
class "PanelApp*"                                     style "theme-panel"
class "PanelToplevel*"                                style "theme-panel"
widget_class "*PanelToplevel*"                        style "theme-panel"
widget_class "*notif*"                                style "theme-panel"
widget_class "*Notif*"                                style "theme-panel"
widget_class "*Tray*"                                 style "theme-panel" 
widget_class "*tray*"                                 style "theme-panel"
widget_class "*computertemp*"                         style "theme-panel"
widget_class "*Applet*Tomboy*"                        style "theme-panel"
widget_class "*Applet*Netstatus*"                     style "theme-panel"

# Fixes for tooltip text in some apps.
widget_class "*Notif*Beagle*"                         style "theme-panel"
widget_class "*Notif*Brasero*"                        style "theme-panel"

# XFCE panel theming.
widget "*Xfce*Panel*"                                 style "theme-panel"
class "*Xfce*Panel*"                                  style "theme-panel"
widget "*WnckPager*"                                  style "workspace-switcher"

# Fix gtk-entries in the panel
widget "*bookmark*GtkEntry"                           style "panel-entry" # fixes smartbookmark-plugin

# Make sure panel text color doesn't change
widget_class "*Panel*MenuBar*"                        style "theme-main-menu-text"
widget_class "*Panel*<GtkMenuBar>*"                   style "theme-main-menu-text"
widget "*.clock-applet-button.*"                      style "theme-panel-text"
widget "*PanelApplet*"                                style "theme-panel-text"

# Override general panel-style with specific plugin-styles
widget "*indicator-applet*"                           style "indicator"
widget "*indicator-button*"                           style "indicator"
