/******************
 * Budgie Desktop *
 ******************/

// orientation
$orientation: ((top, bottom),
               (bottom, top),
	       (left, right),
	       (right, left));

// main container
.budgie-container { background-color: transparent; }

// panel styling
.budgie-panel {
  // Always use dark-color of dark variant
  background-color: $panel_bg_color;
  color: $inverted_fg_color;
  font-weight: 700;

  // panel border styling
  @each $along_side, $opp_side in $orientation {
    .#{$along_side} & { border-#{$along_side}: 2px solid #000000; }
  }

  // used to indicate unread notifications
  .alert { color: $accent_color; }
}

@each $along_side, $opp_side in $orientation {
  // panel shadow styling
  .#{$along_side} .shadow-block {
    background-color: transparent;
    background-image: linear-gradient(to $opp_side,
                                      gtkalpha(#000000, 0.24),
                                      transparent);
  }

  // raven border styling
  .#{$along_side} .raven-frame {
    padding: 0;
    border: none;
    border-#{$opp_side}: 1px solid $borders_color;
    background: none;
  }
}

// wnck tasklist styling
.budgie-panel WnckTasklist {
  .button,
  .button:backdrop {
    border: none;
    background: none;
    opacity: 0.5;
    &:hover,
    &:active,
    &:checked { opacity: 1.0; }
  }
}

// icon tasklist styling
.budgie-panel {
  .launcher {
    transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 2px solid transparent;
    background-image: none;
    opacity: 0.5;
    &:hover {
      -gtk-image-effect: highlight;
      opacity: 1.0;
    }
    &:active,
    &:checked { opacity: 1.0; }
  }

  .unpinned .launcher,
  .pinned .launcher.running { opacity: 1.0; }
}

// draw underscores
@each $along_side, $opp_side in $orientation {
  .#{$along_side} .budgie-panel {
    WnckTasklist .button {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }

    .launcher {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }
  }
}


// main menu styling
.budgie-menu {
  border-radius: 2px;
  background-color: $secondary_base_color;

  GtkScrolledWindow,
  .list,
  .list-row,
  .scrollbar.trough { // reset styling
    border: none;
    background: none;
    box-shadow: none;
  }

  .list-row { // reset background
    &, &.activatable {
      background-image: none;
      background-color: $secondary_base_color;
      color: $secondary_fg_color;
      transition: none;
    }
    &:hover,
    &.activatable:hover {
      background-image: none;
      background-color: $secondary_base_color;
      color: $fg_color;
      transition: none;
    }
  }
}

// raven styling
.raven {
  padding: 0;
  border: none;
  color: $secondary_fg_color;
  background-color: gtkopacity($dark_color, 0.9);

  // mixin with drop-shadows to avoid the raven edge shine-through
  &:dir(ltr) { box-shadow: -1px 0 1px rgba(0, 0, 0, 0.16); }
  &:dir(rtl) { box-shadow: 1px 0 1px rgba(0, 0, 0, 0.16); }

  .raven-header {
    border: none;
    color: $tertiary_fg_color;
    background-color: transparent;
    font-weight: 700;
  }

  .raven-background {
    border-width: 1px 0 0;
    border-style: solid none none;
    border-color: $borders_color;
    background-color: transparent;
    box-shadow: $inline-shadow;
  }

  .powerstrip { // always use dark variant
    border-top: 1px solid $borders_color;
    background-color: $inverted_dark_color;
    box-shadow: $inline-shadow;

    .button {
      padding: 1em;
      color: $secondary_accent_color;
      &:hover,
      &:active,
      &:checked { color: $accent_color; }
      &:insensitive { color: gtkopacity($accent_color, 0.4); }
    }
  }

  .option-subtitle {
    color: $insensitive_secondary_fg_color;
    font-size: 90%;
  }

  // used to indicate unread notifications
  .alert { color: $accent_color; }

  GtkScrolledWindow { background: transparent; }

  .list,
  .list-row,
  .list-row.activatable {
    background-color: transparent;
    &:not(.list):hover { color: $fg_color; }
    &:not(.list):selected {
      color: $selected_bg_color;
      &:hover { background-color: gtkopacity($selected_bg_color, 0.1); }
    }

    .separator { color: gtkopacity($insensitive_fg_color, 0.55); }
  }

  // FIXME: why should I have to do so?
  GtkSwitch {
    -GtkSwitch-slider-width: 40;
    -GtkSwitch-slider-height: 20;
    font-size: 0;
    outline-color: transparent;

    &:insensitive { opacity: 0.4; }

    &.trough,
    &.slider { // reset all of default switches
      padding: 0;
      border: none;
      color: transparent;
      background: none;
      background-image: none;
      background-size: 40px 20px;
      background-repeat: no-repeat;
      background-position: right center;
      box-shadow: none;

      &:dir(rtl) { background-position: left center; }
    }

    &.trough { // use ugly pixmaps
      background-image: -gtk-scaled(
                        url("assets/toggle-off#{$asset_suffix}.png"),
                        url("assets/toggle-off#{$asset_suffix}@2.png"));
      &:hover {
        background-image: -gtk-scaled(
                          url("assets/toggle-off-hover#{$asset_suffix}.png"),
                          url("assets/toggle-off-hover#{$asset_suffix}@2.png"));
      }
      &:active {
        background-image: -gtk-scaled(url("assets/toggle-on.png"),
                                      url("assets/toggle-on@2.png"));
        &:hover {
          background-image: -gtk-scaled(url("assets/toggle-on-hover.png"),
                                        url("assets/toggle-on-hover@2.png"));
        }
      }
    }
  }

  // use flat-style
  .button.image-button { @extend .button.flat; }

  .raven-header { // 'exit' button
    > .button.text-button {
      @extend .button.suggested-action;
      color: $secondary_selected_fg_color;
      &:hover { color: $selected_fg_color; }
      &:active {
        color: $selected_fg_color;
        background-color: $selected_bg_color;
      }
    }
  }

  GtkCalendar {
    border: none;
    background-color: transparent;
  }
}

// MPRIS Applet
.raven-mpris {
  border: none;
  color: $fg_color;
  background-color: gtkopacity($dark_color, 0.9);

  .button.image-button { padding: 0.6em; }
}

// Notifications
.budgie-notification-window {
  border-radius: 2px;
  background: none;
}

.budgie-notification {
  &.background { border-radius: 2px; }

  .notification-title {
    color: $secondary_fg_color;
    font-size: 110%;
    font-weight: 500;
  }

  .notification-body { color: $fg_color; }
}

// dialog styling
.background.csd.budgie-run-dialog {
  border-radius: 2px;
  border: 1px solid $borders_color;
  border-top-color: $highlight_color;
  background-color: transparent;

  .window-frame {
    border-radius: 2px;
    background-color: gtkopacity($dark_color, 0.9);
    box-shadow: $z-depth-4;
    &:backdrop { box-shadow: $z-depth-2; }

    .header-bar { border-radius: 2px; }
  }

  .separator {
    -GtkWidget-separator-width: 0;
    border: 0 none transparent;
    color: transparent;
  }

  GtkScrolledWindow {   // FIXME: using GtkEntry style-class!?
    border-image: none; // remove underline indicator

    GtkGrid .button.flat {
      border-radius: 2px;
      outline-radius: 2px;
    }
  }

  // 'close' button
  .button.flat.image-button {
    color: $secondary_accent_color;
    &:hover,
    &:active,
    &:checked { color: $accent_color; }
    &:insensitive { color: gtkopacity($accent_color, 0.4); }
  }
}

.budgie-session-dialog {
  border-radius: 2px;
  border-width: 0;
  // Always use dark-color of dark variant
  background-color: $inverted_bg_color;
  color: $inverted_fg_color;
  font-weight: 700;
  opacity: 0.9;

  .button,
  .linked > .button {
    @extend .button.flat;
    padding: 0.7em 1em 0.8em;
    border: 2px solid transparent;
    border-radius: 0;
    color: $secondary_accent_color;
    background-color: transparent;
    background-size: 192px * 1 / 0.8 192px * 1 / 0.8, auto;
    &:hover {
      @include button(flat-hover);
      color: $accent_color;
    }
    &:active {
      @include button(flat-active);
      color: $accent_color;
    }
    &:checked {
     @include button(flat-checked);
      color: $secondary_accent_color;
    }
    &:insensitive { @include button(flat-insensitive); }

    &:first-child {
      border-bottom-left-radius: 2px;
      border-right-width: 0;
    }
    &:last-child {
      border-bottom-right-radius: 2px;
      border-left-width: 0;
    }
  }
}

.budgie-polkit-dialog {
  @extend .budgie-session-dialog;

  .message { color: $secondary_fg_color; }
  .failure {
    color: $accent_color;
    font-weight: 700;
  }
}

.drop-shadow {
  background-color: $dark_color;
  background-image: none;
  box-shadow: $z-depth-2;
}


/*****************
 * Unity Desktop *
 *****************/

// window decorations
UnityDecoration { // FIXME: do not use scalable units
  -UnityDecoration-extents: 28px 0 0 0;
  -UnityDecoration-input-extents: 8px;

  -UnityDecoration-shadow-offset-x: 0;
  -UnityDecoration-shadow-offset-y: 8px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.24);
  -UnityDecoration-active-shadow-radius: 12px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.16);
  -UnityDecoration-inactive-shadow-radius: 6px;

  -UnityDecoration-glow-size: 10px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 16px;
  -UnityDecoration-title-fade: 32px;
  -UnityDecoration-title-alignment: 0.0;

  &.top {
    border-width: 1px 0 0;
    border-style: solid none none;
    border-color: $borders_color;
    border-radius: 2px 2px 0 0;
    padding: 1px 6px 0 6px; // FIXME: too much tiny!

    background-image: linear-gradient(to bottom, $inverted_dark_color);
    // The foreground color will be used to paint the text
    color: $inverted_fg_color;
    box-shadow: inset 0 1px $highlight_color;

    &:backdrop { color: $insensitive_inverted_fg_color; }
  }

  &.left,
  &.right,
  &.bottom {
    &, &:backdrop { background-image: none; }
  }
}

// panel styling
UnityPanelWidget,
.unity-panel {
  color: $inverted_fg_color;
  background-color: gtkopacity($inverted_dark_color, 0.88);
  box-shadow: inset 0 -1px $highlight_color; // edge-highlight like HUD
  border-bottom: 1px solid $borders_color;
}

.unity-panel.menubar {
  &.menuitem,
  & .menuitem * {
    border-radius: 0;
    color: $inverted_fg_color;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }

  &.menuitem:hover,
  & .menuitem *:hover {
    color: $selected_fg_color;
    box-shadow: inset 0 -2px $selected_bg_color;
  }
}


/************
 * Corebird *
 ************/

// use normal foreground colour
GtkStack .button.profile-button {
  &:checked { color: $fg_color; }
}

// account menu button
.titlebar.header-bar GtkBox {
  .button.account-button { // left-most account-button
    // revert to square button since we can't make perfect circle button
    border-radius: 2px;
    outline-radius: 2px;

    // FIXME: it can't override its own styleshoot
    .avatar-round { border-color: transparent; }
  }
}

/********
 * Nemo *
 ********/

.nemo-desktop.nemo-canvas-item {
  @extend .nautilus-desktop.nautilus-canvas-item;
}

NemoWindow {
  // Workaround for invisible text in rename entry
  EelEditableLabel.entry { transition: none; }

  // draw bottom border of toolbar
  .toolbar {
    border-bottom: 1px solid $borders_color;

    .button.toggle,
    .linked > .button {
      padding: 0.3em 1.2em 0.4em;

      &.image-button {
        border-radius: 100px;
	outline-radius: 100px;
      }
    }

    // tweak path-bar buttons
    .path-bar .button,
    .path-bar .linked > .button {
      padding: 0.3em 1.2em 0.4em;

      &, &.image-button {
        border-radius: 2px;
	outline-radius: 2px;
	&:insensitive { color: $insensitive_secondary_fg_color; }
      }
    }
  }

  // tweak notebook colour
  .notebook { background-color: $base_color; }

  // tweak sidebar
  .sidebar {
    .frame { border-width: 0; } // remove double-border

    GtkDrawingArea { background-color: transparent; }
  }

  // force using flat-style on bottom bar
  GtkGrid > GtkEventBox {
    padding: 0.2em;
    background-color: $secondary_dark_color;
    box-shadow: $inline-shadow;

    > .toolbar {
      border-style: none;
      background-color: transparent;
      box-shadow: none;
    }

    > .toolbar .button.image-button {
      @extend .button.flat;
      border-radius: 2px;
      outline-radius: 2px;
      padding: 0.7em 1em 0.8em;
      box-shadow: none;
      border-image: -gtk-gradient(radial,
                                  center bottom, 0,
                                  center bottom, 0.001,
                                  to($track_color),
                                  to(transparent))
                                  0 0 0 / 0 0 0px;
      color: $secondary_fg_color;
      &:hover {
        box-shadow: none;
        border-image: none;
        color: $fg_color;
      }
      &:checked {
        box-shadow: none;
        border-image: -gtk-gradient(radial,
                                    center bottom, 0,
                                    center bottom, 0.5,
                                    to($selected_bg_color),
                                    to(transparent))
                                    0 0 2 / 0 0 2px;
        background-color: transparent;
        color: $fg_color;
        &:insensitive {
          box-shadow: none;
          background-color: transparent;
          color: $insensitive_fg_color;
          border-image: none;
          > label { color: inherit; }
        }
      }
      &:insensitive {
        box-shadow: none;
        background-color: transparent;
        color: $insensitive_secondary_fg_color;
        border-image: none;
      }
    }

    > .toolbar .separator.vertical { // remove separator
      -GtkWidget-separator-width: 0;
      border: 0 none transparent;
      color: transparent;
    }
  }
}

