/***********************
 * Fallback mode panel *
 ***********************/

PanelWidget,
PanelApplet,
PanelToplevel {
  // Always use dark-color of dark variant
  color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
  background-color: if($variant=='light',
                                 mix(#263238, #37474F, 75%),
                                 $dark_color);
  &:backdrop { opacity: 1.0; }
}

PanelSeparator {
  border-width: 0;
  background: none;
  background-image: none;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
ClockBox {
  font: bold;
  color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
  background-color: transparent;
  &:backdrop { opacity: 1.0; }
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar {
  box-shadow: none;
  & .menuitem {
    color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
    background-color: transparent;
    &:hover {
      color: $selected_fg_color;
      box-shadow: inset 0 -2px $selected_bg_color;
    }
    &:backdrop { opacity: 1.0; }
  }
  .menu {
    font: regular;
    .menuitem {
      color: $secondary_fg_color;
      background-color: $base_color;
      &:hover {
        color: $fg_color;
        background-color: gtkalpha(currentColor, 0.1);
	box-shadow: none;
      }
    }
    .separator { color: $borders_color; }
  }
}

PanelAppletFrame {
  border-width: 0;
  background-color: transparent;
  background-image: none;
}

PanelApplet {
  GtkButton {
    &#tasklist-button,
    &#clock-applet-button,
    &#showdesktop-button {
      @include button(flat);
      padding: 0px 4px;
      color: $secondary_selected_fg_color;
      background-color: transparent;
      border: none;
      border-radius: 0;
      &:hover,
      &:checked,
      &:insensitive:checked { // 'checked' = 'active'
        color: $selected_fg_color;
        background-color: if($variant=='light',
                                       mix(#263238, #37474F, 75%),
                                       $dark_color);
        box-shadow: inset 0 -2px $selected_bg_color;
      }
      &:backdrop { opacity: 1.0; }
    }
  }
}

WnckPager {
  &:selected { box-shadow: inset 0 -2px $selected_bg_color; }
  &:backdrop { opacity: 1.0; }
}

NaTrayApplet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
  &:backdrop { opacity: 1.0; }
}


/******************
 * Budgie Desktop *
 ******************/

// orientation
$orientation: ((top, bottom),
               (bottom, top),
	       (left, right),
	       (right, left));

// disable backdrop transparency
.budgie-panel {
  &:backdrop,
  *:backdrop { opacity: 1.0; }
}

// panel styling
.budgie-panel {
  // Always use dark-color of dark variant
  color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
  background-color: if($variant=='light',
                                 mix(#263238, #37474F, 75%),
                                 $dark_color);

  // panel border styling
  @each $along_side, $opp_side in $orientation {
    .#{$along_side} & { border-#{$along_side}: 2px solid #000000; }
  }
}

@each $along_side, $opp_side in $orientation {
  // panel shadow styling
  .#{$along_side} .shadow-block {
    background-color: transparent;
    background-image: linear-gradient(to $opp_side,
                                      gtkalpha(#000000, 0.24),
                                      transparent);
  }

  // raven border styling
  .#{$along_side} .raven-frame {
    padding: 0;
    border: none;
    border-#{$opp_side}: 1px solid $borders_color;
    background: none;
  }
}

// wnck tasklist styling
.budgie-panel WnckTasklist {
  .button {
    border: none;
    background: none;
    opacity: 0.5;
    &:hover,
    &:active,
    &:checked { opacity: 1.0; }
  }
}

// icon tasklist styling
// FIXME: can not set opaque to minimized/unfocused?
.budgie-panel {
  .launcher {
    transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border: 2px solid transparent;
    background-image: none;
    opacity: 0.5;
    &:hover {
      -gtk-image-effect: highlight;
      opacity: 1.0;
    }
    &:active,
    &:checked { opacity: 1.0; }

    .unpinned &,
    .pinned &.running { opacity: 1.0; }
  }
}

// draw underscores
@each $along_side, $opp_side in $orientation {
  .#{$along_side} .budgie-panel {
    WnckTasklist .button {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }
    .launcher {
      border: 2px solid transparent;
      &:hover {
        border-#{$along_side}: 2px solid gtkalpha($selected_bg_color, 0.5);
      }
      &:active,
      &:checked {
        border-#{$along_side}: 2px solid $selected_bg_color;
      }
    }
  }
}

// dialog styling
.budgie-run-dialog {
  border-radius: 2px;
  border: 1px solid $borders_color;
}

.budgie-session-dialog {
  border-radius: 2px;
  border-width: 0;
  // Always use dark-color of dark variant
  background-color: if($variant=='light',
                                 mix(#263238, #37474F, 75%),
                                 $dark_color);
  color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
  font-weight: bold;
  opacity: 0.9;
  &:backdrop { opacity: 1.0; }

  .button,
  .linked > .button {
    @extend .button.flat;
    padding: 0.7em 1em 0.8em;
    border: 2px solid transparent;
    border-radius: 0;
    color: $secondary_selected_fg_color;
    background-size: 192px * 1 / 0.8 192px * 1 / 0.8, auto;
    // &:first-child { border-bottom-left-radius: 2px; }
    // &:last-child { border-bottom-right-radius: 2px; }
    &:first-child {
      border-radius: 0 0 0 2px;
      border-right-width: 0;
    }
    &:last-child { // usually 'save', 'delete' and 'OK'...
      @include button(flat);
      border-radius: 0 0 2px 0;
      border-left-width: 0;
      background-color: transparent;
      color: $warning_color;
      &:hover {
        @include button(flat-hover);
        color: $warning_color;
      }
      &:active {
        @include button(flat-active);
        color: $selected_fg_color;
        background-color: $warning_bg_color;
      }
      &:checked {
       @include button(flat-checked);
        color: $selected_fg_color;
        background-color: $warning_bg_color;
      }
      &:insensitive { @include button(flat-insensitive); }
    }
  }
}

.budgie-polkit-dialog {
  @extend .budgie-session-dialog;

  .message { color: $secondary_fg_color; }
  .failure {
    color: $warning_color;
    font-weight: bold;
  }
}

.drop-shadow {
    background-color: transparent;
    background-image: none;
    box-shadow: $z-depth-2;
    border-radius: 2px;
}


/**************
 * Tweak-tool *
 **************/

// sidebar
.tweak-categories {
  background-color: $secondary_dark_color;
  color: $secondary_fg_color;
  &:dir(ltr) { box-shadow: if($variant=='light', $sidebar-light-ltr,
                                                 $sidebar-dark-ltr);
  }
  &:dir(rtl) { box-shadow: if($variant=='light', $sidebar-light-rtl,
                                                 $sidebar-dark-rtl);
  }

  .separator { -GtkWidget-wide-separators: true; }
}

.tweak-category {
  @extend .list-row;
  color: $secondary_fg_color;
  font-weight: bold;
  &:hover { color: $fg_color; }
  &:selected {
    color: $selected_bg_color;
    background-color: transparent;
    // &:dir(ltr) { box-shadow: inset -2px 0 $selected_bg_color; }
    // &:dir(ltr) { box-shadow: inset 2px 0 $selected_bg_color; }
  }
}

// container and tweaks in a group
.tweak-group {
    padding: 6px;
    background-color: transparent;
}

.tweak {
}


/*******************
 * Gnome-Flashback *
 *******************/

// use message-dialog style for popup osd windows
FlashbackOsdWindow,
GfPopupWindow {
  border-radius: 2px;
  border: 1px solid $borders_color;
  opacity: 0.9;
  &.background {
    background-color: if($variant=='light', $fg_color, $bg_color);
    color: if($variant=='light', $secondary_selected_fg_color, $fg_color);
  }
}

GfInputSourcePopup {
  #input-source {
    color: $secondary_selected_fg_color;
    font-size: 2em;
    font-weight: bold;
    &:selected {
      border-radius: 2px;
      color: $warning_color;
      background-color: $track_color;
    }
  }
}

FlashbackLabelWindow {
  font-size: 4em;
}
