/***************
 * Gnome panel *
 ***************/

PanelWidget,
PanelApplet,
PanelToplevel {
  // Always use dark-color of dark variant
  color: $inverted_secondary_fg_color;
  background-color: $panel_bg_color;
  &:backdrop,
  *:backdrop { opacity: 1.0; }
}

PanelSeparator {
  border-width: 0;
  background: none;
  background-image: none;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
ClockBox {
  font: bold;
  color: $inverted_secondary_fg_color;
  background-color: transparent;
  &:backdrop { opacity: 1.0; }
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar {
  box-shadow: none;
  & .menuitem {
    color: $inverted_secondary_fg_color;
    background-color: transparent;
    &:hover {
      color: $selected_fg_color;
      box-shadow: inset 0 -2px $selected_bg_color;
    }
    &:backdrop { opacity: 1.0; }
  }
  .menu {
    font: regular;
    .menuitem {
      color: $secondary_fg_color;
      background-color: $base_color;
      &:hover {
        color: $fg_color;
        background-color: gtkalpha(currentColor, 0.1);
	box-shadow: none;
      }
    }
    .separator { color: $borders_color; }
  }
}

PanelAppletFrame {
  border-width: 0;
  background-color: transparent;
  background-image: none;
}

PanelApplet {
  GtkButton {
    &#tasklist-button,
    &#clock-applet-button,
    &#showdesktop-button {
      @include button(flat);
      padding: 0px 4px;
      color: $inverted_secondary_fg_color;
      background-color: transparent;
      border: none;
      border-radius: 0;
      &:hover {
        color: $selected_fg_color;
        background-color: transparent;
        box-shadow: inset 0 -2px $track_color;
      }
      &:checked,
      &:hover:checked,
      &:insensitive:checked { // 'checked' = 'active'
        color: $selected_fg_color;
        background-color: transparent;
        box-shadow: inset 0 -2px $selected_bg_color;
      }
      &:backdrop { opacity: 1.0; }
    }
  }
}

WnckPager {
  &:selected { box-shadow: inset 0 -2px $selected_bg_color; }
  &:backdrop { opacity: 1.0; }
}

NaTrayApplet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
  &:backdrop { opacity: 1.0; }
}


/**************
 * Tweak-tool *
 **************/

// sidebar
.tweak-categories {
  background-color: $secondary_dark_color;
  color: $secondary_fg_color;
  &:dir(ltr) { box-shadow: if($variant=='light', $sidebar-light-ltr,
                                                 $sidebar-dark-ltr);
  }
  &:dir(rtl) { box-shadow: if($variant=='light', $sidebar-light-rtl,
                                                 $sidebar-dark-rtl);
  }

  .separator { -GtkWidget-wide-separators: true; }
}

.tweak-category {
  @extend .list-row;
  color: $secondary_fg_color;
  font-weight: bold;
  &:hover { color: $fg_color; }
  &:selected {
    color: $selected_bg_color;
    background-color: transparent;
    // &:dir(ltr) { box-shadow: inset -2px 0 $selected_bg_color; }
    // &:dir(ltr) { box-shadow: inset 2px 0 $selected_bg_color; }
  }
}

// container and tweaks in a group
.tweak-group {
  padding: 6px;
  background-color: $base_color;
}

.tweak {
  background-color: $base_color;
  &:hover { background-color: transparent; }
}

.tweak-group-white,
.tweak-white {
  background-color: $base_color;
}


/*******************
 * Gnome-Flashback *
 *******************/

// use message-dialog style for popup osd windows
FlashbackOsdWindow,
GfPopupWindow {
  border-radius: 2px;
  border: 1px solid $borders_color;
  opacity: 0.9;
  &.background {
    background-color: $inverted_bg_color;
    color: $inverted_secondary_fg_color;
  }
}

GfInputSourcePopup {
  #input-source {
    color: $inverted_secondary_fg_color;
    font-size: 2em;
    font-weight: bold;
    &:selected {
      border-radius: 2px;
      background-color: $track_color;
      color: $warning_color;
    }
  }
}

FlashbackLabelWindow {
  font-size: 4em;
}

// popup for inpu-source candidates
GfCandidatePopup {
  &, &.solid {
    border-radius: 2px;
    border: 1px solid $borders_color;
    color: $inverted_secondary_fg_color;
  }

  GfCandidateBox {
    transition: none;
    .label { padding: 0.2em 0.2em 0.3em; } // half of .menuitem

    &:last-child { padding-left: 0; }
    &:hover,
    &:selected {
      border-radius: 0;
      background-color: $track_color;
      color: $selected_fg_color;
    }
  }

  .button,
  .linked > .button { // page-up&down buttons
    &,
    &:first-child,
    &:last-child {
      @extend .button.flat;
      border-radius: 0;
      border: none;
      background-color: transparent;
      color: $warning_color;
      box-shadow: none;
    }
  }
}


/************
 * Nautilus *
 ************/

.nautilus-canvas-item {
  border-radius: 2px;
}

.nautilus-circular-button {
  border-radius: 100px;
  outline-radius: 100px;
}

NautilusTrashBar {
  @extend GtkInfoBar;
}


/*********
 * Geary *
 *********/

// Geary is the most ugly app for theming.
.geary-titlebar-left {
  // remove unexpected "hardcoded" vertical separator
  .separator { opacity: 0; }
}

.geary-titlebar-right {
  // stop double-shadows on right paned header-bar
  box-shadow: inset 0 1px $highlight_color;
}


/************
 * Epiphany *
 ************/

// reset inverted foreground colour
EphyWindow {
  .floating-bar { color: $secondary_fg_color; }
}


/************
 * Seahorse *
 ************/

// remove double borders
SeahorseWidget {
  .sidebar {
    .pane-separator { border: none; }
  }
}


/**********
 * Polari *
 **********/

// FIXME: it doesn't work at all
#polari-sidebar { @extend .sidebar; }

#polari-room-list {
  .list-row:selected { @extend GtkSidebarRow.list-row:selected; }
}

/*************
 * RhythmBox *
 *************/

#sidebar-toolbar {
  @extend .toolbar;
  border-radius: 0;
  border-top: 1px solid $borders_color;
}

#RBLibraryBrowser {
  background-color: $secondary_dark_color;
}

#statusbar {
  border-top: 1px solid $borders_color;
}

