/***************
 * Gnome panel *
 ***************/

PanelWidget,
PanelApplet,
PanelToplevel {
  // Always use dark-color of dark variant
  color: $inverted_secondary_fg_color;
  background-color: $panel_bg_color;
  &:backdrop,
  *:backdrop { opacity: 1.0; }
}

PanelSeparator {
  border-width: 0;
  background: none;
  background-image: none;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
ClockBox {
  font: bold;
  color: $inverted_secondary_fg_color;
  background-color: transparent;
  &:backdrop { opacity: 1.0; }
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar {
  box-shadow: none;
  & .menuitem {
    color: $inverted_secondary_fg_color;
    background-color: transparent;
    &:hover {
      color: $selected_fg_color;
      box-shadow: inset 0 -2px $selected_bg_color;
    }
    &:backdrop { opacity: 1.0; }
  }
  .menu {
    font: regular;
    .menuitem {
      color: $secondary_fg_color;
      background-color: $base_color;
      &:hover {
        color: $fg_color;
        background-color: gtkalpha(currentColor, 0.1);
	box-shadow: none;
      }
    }
    .separator { color: $borders_color; }
  }
}

PanelAppletFrame {
  border-width: 0;
  background-color: transparent;
  background-image: none;
}

PanelApplet {
  GtkButton {
    &#tasklist-button,
    &#clock-applet-button,
    &#showdesktop-button {
      @include button(flat);
      padding: 0px 4px;
      color: $inverted_secondary_fg_color;
      background-color: transparent;
      border: none;
      border-radius: 0;
      &:hover {
        color: $selected_fg_color;
        background-color: transparent;
        box-shadow: inset 0 -2px $track_color;
      }
      &:checked,
      &:hover:checked,
      &:insensitive:checked { // 'checked' = 'active'
        color: $selected_fg_color;
        background-color: transparent;
        box-shadow: inset 0 -2px $selected_bg_color;
      }
      &:backdrop { opacity: 1.0; }
    }
  }
}

WnckPager {
  &:selected { box-shadow: inset 0 -2px $selected_bg_color; }
  &:backdrop { opacity: 1.0; }
}

NaTrayApplet {
  -NaTrayApplet-icon-padding: 2;
  -NaTrayApplet-icon-size: 16;
  &:backdrop { opacity: 1.0; }
}


/**************
 * Tweak-tool *
 **************/

// sidebar
.tweak-categories {
  background-color: $secondary_dark_color;
  color: $secondary_fg_color;
  &:dir(ltr) { box-shadow: if($variant=='light', $sidebar-light-ltr,
                                                 $sidebar-dark-ltr);
  }
  &:dir(rtl) { box-shadow: if($variant=='light', $sidebar-light-rtl,
                                                 $sidebar-dark-rtl);
  }

  .separator { -GtkWidget-wide-separators: true; }
}

.tweak-category {
  @extend .list-row;
  color: $secondary_fg_color;
  font-weight: bold;
  &:hover { color: $fg_color; }
  &:selected {
    color: $selected_bg_color;
    background-color: transparent;
    // &:dir(ltr) { box-shadow: inset -2px 0 $selected_bg_color; }
    // &:dir(ltr) { box-shadow: inset 2px 0 $selected_bg_color; }
  }
}

// container and tweaks in a group
.tweak-group {
  padding: 6px;
  background-color: $base_color;
}

.tweak {
  background-color: $base_color;
  &:hover { background-color: transparent; }
}

.tweak-group-white,
.tweak-white {
  background-color: $base_color;
}


/*******************
 * Gnome-Flashback *
 *******************/

// use message-dialog style for popup osd windows
FlashbackOsdWindow,
GfPopupWindow {
  border-radius: 2px;
  border: 1px solid $borders_color;
  opacity: 0.9;
  &.background {
    background-color: $inverted_bg_color;
    color: $inverted_secondary_fg_color;
  }
}

GfInputSourcePopup {
  #input-source {
    color: $inverted_secondary_fg_color;
    font-size: 2em;
    font-weight: bold;
    &:selected {
      border-radius: 2px;
      background-color: $track_color;
      color: $warning_color;
    }
  }
}

FlashbackLabelWindow {
  font-size: 4em;
}

// popup for inpu-source candidates
GfCandidatePopup {
  &, &.solid {
    border-radius: 2px;
    border: 1px solid $borders_color;
    color: $inverted_secondary_fg_color;
  }

  GfCandidateBox {
    transition: none;
    .label { padding: 0.2em 0.2em 0.3em; } // half of .menuitem

    &:last-child { padding-left: 0; }
    &:hover,
    &:selected {
      border-radius: 0;
      background-color: $track_color;
      color: $selected_fg_color;
    }
  }

  .button,
  .linked > .button { // page-up&down buttons
    &,
    &:first-child,
    &:last-child {
      @extend .button.flat;
      border-radius: 0;
      border: none;
      background-color: transparent;
      color: $warning_color;
      box-shadow: none;
    }
  }
}


/************
 * Nautilus *
 ************/

.nautilus-canvas-item {
  border-radius: 2px;
}

.nautilus-circular-button {
  border-radius: 100px;
  outline-radius: 100px;
}

NautilusTrashBar {
  @extend GtkInfoBar;
}


/*********
 * Geary *
 *********/

// Geary is the most ugly app for theming.
.geary-titlebar-left {
  // remove unexpected "hardcoded" vertical separator
  .separator { opacity: 0; }
}

.geary-titlebar-right {
  // stop double-shadows on right paned header-bar
  box-shadow: inset 0 1px $inverted_highlight_color;
}

.sidebar {
  // remove unexpected shadows insdie the columns
  // since the codes hooks "GtkSidebar" class to
  // GtkTreeView.view. Really mad...
  GtkTreeView.view { box-shadow: none; }
}


/************
 * Epiphany *
 ************/

// reset inverted foreground colour
EphyWindow {
  .floating-bar { color: $secondary_fg_color; }
}


/************
 * Seahorse *
 ************/

// remove double borders
SeahorseWidget {
  .sidebar {
    .pane-separator { border: none; }
  }
}


/**********
 * Polari *
 **********/

// sidebar styling
.polari-sidebar {
  border-style: solid;
  border-color: $borders_color;
  border-image: none;

  &.polari-room-list {
    &:dir(ltr) { border-width: 0 1px 0 0; }
    &:dir(rtl) { border-width: 0 0 0 1px; }
  }
}

// user-list styling
.polari-user-list {
  & .list-row {
    -GtkWidget-focus-padding: 0;

    &.expanded {
      background-color: $secondary_dark_color;

      .frame {
        box-shadow: if($variant=='light', inset 0 1px 2px rgba(0, 0, 0, 0.08),
                                          inset 0 1px 2px rgba(0, 0, 0, 0.18));
        border-width: 0;
      }
    }
  }
}

.polari-nick-entry { color: $insensitive_fg_color; }

// room-list styling
.polari-room-list {
  .room-list-header {
    padding: 8px 6px 1px 8px;
    font-size: smaller;
    border-bottom: 1px solid $borders_color;
  }

  .list-row {
    padding-left: 0.6em;

    &.inactive {
      color: $insensitive_fg_color;
      &:selected { color: gtkopacity($selected_bg_color, 0.4); }
      // &:backdrop { color: $insensitive_fg_color; }
    }

    &:selected {
      color: $selected_bg_color;
      background-color: $track_color;
    }

    .pending-messages-count {
      padding: 0px 0.3em;
      border-radius: 2px;
      color: $secondary_fg_color;
      background-color: $track_color;
      font-size: smaller;
    }
  }
}

// title-bar styling
.polari-titlebar-left {
  // the horizontal padding confuses left_side_size_group, so we
  // add it as margin-left to the first button instead (in mainWindow.ui);
  // also set the vertical padding to 0 so the separator extends to the
  // bottom
  padding: 0 1px;
}

.polari-titlebar-left:dir(ltr),
.polari-titlebar-right:dir(rtl) {
    border-top-right-radius: 0;
}

.polari-titlebar-right:dir(ltr),
.polari-titlebar-left:dir(rtl) {
    border-top-left-radius: 0;
}

.polari-titlebar-separator { // remove unwanted separator
    // border-image: linear-gradient(to bottom, @theme_bg_color, shade(@borders, 1.2));
    // border-image-width: 0 1px 0 0;
    // border-image-slice: 1;
    border-image: none;
    border-width: 0;
    border-color: transparent;
}

// error-info styling
.polari-error-information {
  border-style: solid;
  border-color: $borders_color;
  border-width: 1px 0 0 0;
  background-color: $inverted_dark_color;
  opacity: 0.9;

  .label {
    color: $warning_color;
    font-size: smaller;
  }
}

