//
// This is the RIGHT PLACE to edit the stylesheet
//


/***********
 * Globals *
 ***********/

* {
  transition-timing-function : cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

$font-family: Noto Sans, Cantarell, Sans-Serif;
$_bubble_bg_color: opacify($osd_bg_color,0.1);
$_bubble_fg_color: $osd_fg_color;
$_bubble_borders_color: $borders_color;

stage {
  font-family: $font-family;
  @include fontscaling($ref_size);
  color: $fg_color;
}

.label-shadow {
  color: rgba(0, 0, 0, 0);
}

%reset_style {
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: none !important;
  border-radius: 0 !important;
}


/***********
 * Buttons *
 ***********/

%button {
  min-height: 2em;
  padding: 7px 16px 8px;
  border-width: 0;
  font-weight: 500;

  &, &:focus, &:hover, &:hover:focus,
  &:active, &:active:focus, &:insensitive { border-radius: 2px; }

  @include button(flat-normal);

  &:focus { @include button(flat-focus); }
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
}

%osd_button {
  min-height: 2.5em;
  padding: 9px 16px 10px;
  border-radius: 2px;

  @include button(osd-normal);

  &:focus { @include button(osd-focus); }
  &:hover { @include button(osd-hover); }
  &:active { @include button(osd-active); }
  &:insensitive { @include button(osd-insensitive); }
}


/***********
 * Entries *
 ***********/

%entry {
  padding: 7px 8px 8px;
  caret-size: 1px;
  border-radius: 0;
  border-width: 0;
  color: $fg_color;
  transition: none;

  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;

  @include entry(normal);
  &:focus { @include entry(focus); }
  &:hover { @include entry(hover); }
  &:insensitive { @include entry(insensitive); }

  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 2px;
  }
}

%osd_entry {
  padding: 7px 8px 8px;
  caret-size: 1px;
  caret-color: $osd_fg_color;
  color: $osd_fg_color;
  border-radius: 0;
  border-width: 0;

  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;

  @include entry(normal);
  &:hover { @include entry(hover); }
  &:focus { @include entry(focus); }
  &:insensitive { @include entry(insensitive); }
}


/**************
 * Scrollbars *
 **************/

StScrollView {
  &.vfade { -st-vfade-offset: 0; }
  &.hfade { -st-hfade-offset: 0; }
}

StScrollBar {
  padding: 0;

  StScrollView & {
    min-width: 6px;
    min-height: 6px;
  }

  StBin#trough {
    margin: 0;
    border-radius: 0;
    background-color: $base_color;
  }

  StButton#vhandle, StButton#hhandle {
    margin: 0;
    border-radius: 0;
    background-color: scale-color($fg_color, $alpha: -72%);
    // would be nice to margin or at least to transparent
    // border: 4px solid transparent;
    &:hover { background-color: scale-color($fg_color, $alpha: -59%); }
    &:active { background-color: scale-color($fg_color, $alpha: -0%); }
  }
}


/*************
 * Separator *
 *************/

.separator {
  height: 1px; // not really the whole box
  margin: 0.6em 0.4em;
  border-color: $borders_color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background-color: transparent;
}


/**********
 * Slider *
 **********/

.popup-slider-menu-item,
.slider {
  height: 16px;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
  color: $accent_color;

  -slider-height: 2px;
  -slider-background-color: scale-color($fg_color, $alpha: -90%); // background of the trough
  -slider-border-color: transparent; // trough border color
  -slider-active-background-color: $accent_color; // active trough fill
  -slider-active-border-color: transparent; // active trough border
  -slider-border-width: 0;
  -slider-handle-radius: 8px;
}


/***************
 * Check Boxes *
 ***************/

.check-box {

  CinnamonGenericContainer {
    spacing: 0.2em;
    min-height: 30px;
    padding-top: 2px;
  }

  StLabel { font-weight: 500; }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("assets/checkbox/checkbox-unchecked.svg");
  }

  // &:focus StBin { background-image: url("assets/checkbox/checkbox-unchecked-focused.svg"); }

  &:checked StBin { background-image: url("assets/checkbox/checkbox-checked.svg"); }

  // &:focus:checked StBin { background-image: url("assets/checkbox/checkbox-checked-focused.svg"); }
}


/*****************
 * Radio Buttons *
 *****************/

.radiobutton {

  CinnamonGenericContainer {
    spacing: 0.2em;
    height: 26px;
    padding-top: 2px;
  }

  StLabel {
    @include fontscaling($ref_size * 0.9);
    padding-top: 4px;
    box-shadow: none;
  }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("assets/checkbox/radiobutton-unchecked.svg");
  }

  // &:focus StBin { background-image: url("assets/checkbox/radiobutton-unchecked-focused.svg"); }

  &:checked StBin { background-image: url("assets/checkbox/radiobutton-checked.svg"); }

  // &:focus:checked StBin { background-image: url("assets/checkbox/radiobutton-checked-focused.svg"); }
}


/************
 * Switches *
 ************/

.toggle-switch {
  width: 40px;
  height: 20px;
  background-size: contain;

  &-us, &-intl {
    background-image: url("assets/switch/switch-off.svg");

    &:checked { background-image: url("assets/switch/switch-on.svg"); }
  }
}


/*********
 * Links *
 *********/

.cinnamon-link {
  border-radius: 2px;
  color: $link_color;
  text-decoration: underline;

  &:hover {
    color: $link_color;
    background-color: transparentize($link_color, 0.9);
  }
  &:active {
    color: $link_color;
    background-color: transparentize($link_color, 0.8);
  }
}


/***********
 * ToolTip *
 ***********/

#Tooltip {
  @include fontscaling($ref_size * 1.0);
  border-radius: 2px;
  padding: 4px 12px;
  background-color: transparentize($osd_bg_color, 0.1);
  color: $osd_fg_color;
  font-weight: 500;
  text-align: center;
}


/*****************
 * Popvers/Menus *
 *****************/

.popup-menu {
  min-width: 200px;
  padding: 0;
  border-width: 3px; // same value as padding embedded in the pixmaps
  border-image: url("assets/menu/menu.svg") 9 9 9 9;
  color: $secondary_fg_color;

  &-arrow { icon-size: 16px; }

  .popup-sub-menu {
    background-gradient-direction: none;
    border-image: url("assets/menu/submenu.svg") 9 9 0 0;
    box-shadow: 0 0 transparent;

    .popup-menu-item:ltr { padding-right: 0; }
    .popup-menu-item:rtl { padding-left: 0; }

    StScrollBar {
      padding: 4px;
      StBin#trough,
      StBin#vhandle { border-width: 0; }
    }
  }

  .popup-menu-content { padding: 1em 0 1em 0; }
  .popup-menu-item {
    padding: 0.4em 1.75em;
    spacing: 1em;
    border-width: 0 1px;
    color: secondary_fg_color;

    &:active {
      color: $fg_color;
      background-color: transparent;
      border-image: url("assets/menu/menu-hover.svg") 9 9 0 0;
    }
    &:insensitive {
      color: scale-color($fg_color, $alpha: -50%);
      background: none;
    }
  }

  .popup-inactive-menu-item { //all icons and other graphical elements
    color: $fg_color;

    &:insensitive { color: $insensitive_fg_color; }
  }

  &-icon { icon-size: 16px; }
}

.popup-menu-boxpointer {
  -arrow-border-radius: 0;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 0;
  -arrow-rise: 0;
  -arrow-box-shadow: none; // dreaming. bug #689995
  margin: 0.4em 0.5em 0.5em;
  border-radius: 2px;
  border-top: 1px solid $base_color;
  background-color: $bg_color;
  box-shadow: $z-depth-3;
}

// Don't know what this does
.popup-combo-menu {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em 0em;
  color: red;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.popup-image-menu-item {}

.popup-combobox-item { spacing: 1em; }

.popup-separator-menu-item {
  height: 1px; //not really the whole box
  margin: 0.6em 0.4em;
  border-color: $borders_color;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  // border-image: url("assets/menu/menu-separator.svg") 1 1 1 1;
  background-color: transparent;
}

.popup-alternating-menu-item:alternate {
  font-weight: 500;
}

.popup-device-menu-item { spacing: 0.5em; }

.popup-subtitle-menu-item { font-weight: 500; }

.nm-menu-item-icons { spacing: 0.5em; }


/*********
 * Panel *
 *********/

$icon_size: 16px;

#panel {
  height: 2.25em;
  min-height: 27px;
  font-weight: 700;

  &Left {
    spacing: 4px;

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(255, 0, 0, 0.05);
      background-gradient-end: rgba(255, 0, 0, 0.2);
    }
    &:ltr { padding-right: 4px; }
    &:rtl { padding-left: 4px; }
  }

  &Right {

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0, 0, 255, 0.05);
      background-gradient-end: rgba(0, 0, 255, 0.2);
    }
    &:ltr {
      padding-left: 4px;
      spacing: 0;
    }
    &:rtl {
      padding-right: 4px;
      spacing: 0;
    }
  }

  &Center {
    spacing: 4px;

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0, 255, 0, 0.05);
      background-gradient-end: rgba(0, 255, 0, 0.2);
    }
  }
}

.panel {
  padding: 0;

  &-top,
  &-bottom {
    @include fontscaling($ref_size * 1.0);
    color: $osd_secondary_fg_color;
    background-color: $panel_bg_color;
  }

  // &-top { border-image: url('assets/panel/panel-top.svg') 1 1 1 1; }
  // &-bottom { border-image: url('assets/panel/panel-bottom.svg') 1 1 1 1; }

  &-status-button {
    border-widht: 0;
    -natural-hpadding: 3px;
    -minimum-hpadding: 3px;
    font-weight: 700;
    color: $osd_secondary_fg_color;
    height: 22px;

    &:hover {}
  }

  &-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: 700;
    color: $osd_secondary_fg_color;
    transition-duration: 0.2s;
    &:hover {
      color: $selected_fg_color;
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 $osd_indicator_color;
    }
  }

  * StIcon { icon-size: $icon_size; }
}

.system-status-icon {
  icon-size: $icon_size;
  padding: 0 5px;
}


/************
 * Overview *
 ************/

#overview { spacing: 12px; }

.window-caption {
  -cinnamon-caption-spacing: 12px;
  spacing: 25px;
  padding: 4px 8px;
  border-radius: 2px;
  color: $osd_fg_color;
  background-color: transparentize($osd_bg_color, 0.1);
  box-shadow: $z-depth-1;

  &#selected {
    spacing: 25px;
    color: $osd_fg_color;
    background-color: $osd_semi_fill_color;
    box-shadow: $z-depth-2;
  }
}

.expo-workspaces-name-entry,
.expo-workspaces-name-entry#selected {
  @include fontscaling($ref_size * 0.9);
  -cinnamon-caption-spacing: 12px;
  height: 15px;
  border-radius: 2px;
  padding: 4px 8px;
  @include entry(osd);

  &:focus {
    @include entry(osd-focus);
    color: $selected_fg_color;
    selection-background-color: $selected_fg_color;
    selected-color: $selected_bg_color;
  }
}

.expo-workspace-thumbnail-frame {
  border-radius: 2px;
  border: 4px solid $osd_semi_fill_color;
  background-color: transparent;

  &#active {
    border-radius: 2px;
    border: 4px solid $selected_bg_color;
    background-color: black;
  }
}

.expo-background {
  background-color: opacify($osd_bg_color, 1);
}

.workspace {
  //&-controls { visible-height: 32px; }

  &-thumbnails {
    spacing: 26px;

    &-background, &-background:rtl { padding: 8px; }
  }

  &-add-button {
    background-image: url("assets/misc/add-workspace.svg");
    height: 200px;
    width: 35px;
    transition-duration: 0.2s;

    &:hover {
      background-image: url("assets/misc/add-workspace-hover.svg");
      transition-duration: 0.2s;
    }
    &:active {
      background-image: url("assets/misc/add-workspace-active.svg");
      transition-duration: 0.2s;
    }
  }
  &-overview-background-shade { background-color: rgba(0, 0, 0, 0.5); }
}

.workspace-close-button,
.window-close {
  height: 36px;
  width: 36px;
  -cinnamon-close-overlap: 24px;
  background-image: url("assets/misc/close.svg");
  background-size: 36px;

  &:hover {
    height: 36px;
    width: 36px;
    background-image: url("assets/misc/close-hover.svg");
    background-size: 36px;
  }
  &:active {
    height: 36px;
    width: 36px;
    background-image: url("assets/misc/close-active.svg");
    background-size: 36px;
  }
}

//  .workspace-thumbnail-indicator {
//    outline: 2px solid red;
//    border: 1px solid green;
//  }
//
//  .window-close:rtl {
//    -st-background-image-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
//  }

.window-close-area {
  background-image: url("assets/misc/trash-icon.svg");
  height: 120px;
  width: 400px;
}

//
// About Dialog (applet.js and desklet.js)
//
.about {
  &-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 10px;
  }
  &-title {
    @include fontscaling($ref_size * 2.0);
    font-weight: 700;
  }
  &-uuid {
    @include fontscaling($ref_size * 1.0);
    color: $dim_fg_color;
  }
  &-icon {
    padding-right: 20px;
    padding-bottom: 14px;
  }
  &-scrollBox {
    border: 1px solid $borders_color;
    border-radius: 2px;
    background-color: $base_color;
    padding: 4px;
    padding-right: 0;
    border-radius: 0;

    &-innerBox {
      padding: 1.2em;
      spacing: 1.2em;
    }
  }
  &-description {
    padding-top: 4px;
    padding-bottom: 16px;
  }
  &-version {
    @include fontscaling($ref_size * 1.0);
    padding-left: 7px;
    color: $dim_fg_color;
  }
}


//
// Calendar 
//
.calendar {
  padding: 0.4em 1.75em;
  spacing-rows: 0;
  spacing-columns: 0;
}

.calendar-month-label {
  color: $fg_color;
  font-weight: 700;
  padding: 8px 0;
}

.calendar-change-month-back,
.calendar-change-month-forward {
  width: 16px;
  height: 16px;
}

//arrow back
.calendar-change-month-back {
  background-image: url("assets/misc/calendar-arrow-left.svg");

  // &:focus,
  // &:hover { background-image: url("assets/misc/calendar-arrow-left-hover.svg"); }

  // &:active { background-image: url("assets/misc/calendar-arrow-left.svg"); }

  &:rtl {
    background-image: url("assets/misc/calendar-arrow-right.svg");

  // &:focus,
  // &:hover { background-image: url("assets/misc/calendar-arrow-right-hover.svg"); }

  // &:active { background-image: url("assets/misc/calendar-arrow-right.svg"); }
  }
}

//arrow forward
.calendar-change-month-forward {
  background-image: url("assets/misc/calendar-arrow-right.svg");

  // &:focus,
  // &:hover { background-image: url("assets/misc/calendar-arrow-right-hover.svg"); }

  // &:active { background-image: url("assets/misc/calendar-arrow-right.svg"); }

  &:rtl {
    background-image: url("assets/misc/calendar-arrow-left.svg");

    // &:focus,
    // &:hover { background-image: url("assets/misc/calendar-arrow-left-hover.svg"); }

    // &:active { background-image: url("assets/misc/calendar-arrow-left.svg"); }
  }
}

.datemenu-date-label {
  padding: 0.4em 1.75em;
  font-weight: 700;
  text-align: center;
  color: $fg_color;
  border-radius: 2px;
}

.calendar-day-base {
  @include fontscaling($ref_size * 0.8);
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 0.1em;
  margin: 2px;
  border-radius: 12.5px;
}

.calendar-day-heading {
  @include fontscaling($ref_size * 0.7);
  color: $dim_fg_color;
  margin-top: 1em;
}

.calendar-day {
  border-width: 0;
  color: $secondary_fg_color;
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: $secondary_fg_color;
  background-color: transparent;
}

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover {
  font-weight: 700;
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  border-width: 0;
}

.calendar-other-month-day {
  color: $dim_fg_color;
  opacity: 0.5;
}


/*****************
 * Notifications *
 *****************/

#notification {
  width: 34em;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  padding: 13px;
  border-radius: 2px;
  border-image: url("assets/misc/osd.svg") 9 9 9 9;
  color: $osd_fg_color;

  .popup-menu & {
    border-image: url("assets/misc/message.svg") 9 9 9 9;
    color: $fg_color;

    .notification-button,
    .notification-icon-button {
      @extend %button;
      padding: 5px;
    }

    StEntry { @extend %entry; }
  }

  &.multi-line-notification {
    padding-bottom: 13px;
    color: $osd_fg_color;
  }

  &-scrollview {
    max-height: 10em;

    > .top-shadow, > .bottom-shadow { height: 1em; }

    &:ltr > StScrollBar { padding-left: 6px; }
    &:rtl > StScrollBar { padding-right: 6px; }
  }

  &-body { spacing: 5px; }
  &-actions { spacing: 10px; }
}

.notification {

  &-with-image {
    min-height: 159px;
    color: $osd_fg_color;
  }

  &-button, &-icon-button {
    @extend %osd_button;
    padding: 5px;
  }

  &-icon-button > StIcon { icon-size: 36px; }

  StEntry { @extend %osd_entry; }
}


/****************
 * App Switcher *
 ****************/

#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  padding: 20px;
  border: none;
  border-image: url("assets/misc/osd.svg") 9 9 9 9;
  border-radius: 2px;
  color: $osd_fg_color;
  background: none;

  > StBoxLayout {
    padding: 4px;
  }

  &-item-container { spacing: 8px; }

  .item-box {
    padding: 8px;
    border-radius: 2px;

    &:outlined {
      padding: 6px;
      border: 2px solid $fill_color;
    }

    &:selected {
      background-color: $accent_fill_color;
      color: $accent_color;
    }
  }

  .thumbnail { width: 256px; }

  .thumbnail-box {
    padding: 2px;
    spacing: 4px;
  }
  .separator {
    width: 1px;
    background: $borders_color;;
  }
}

.switcher-arrow {
  border-color: transparent;
  color: $osd_fg_color;

  &:highlighted {
    border-color: transparent;
    color: $selected_fg_color;
  }
}

//.switcher-preview-backdrop { background-color: rgba(25,25,25,0.95); }

.thumbnail-scroll-gradient-left {
  width: 60px;
  border-radius: 24px;
  border-radius-topright: 0;
  border-radius-bottomright: 0;
  background-color: transparent;
}

.thumbnail-scroll-gradient-right {
  width: 60px;
  border-radius: 24px;
  border-radius-topleft: 0;
  border-radius-bottomleft: 0;
  background-color: transparent;
}


/**********************
 * Activities Ripples *
 **********************/

.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("assets/misc/corner-ripple.svg");
  background-size: contain;
}


/*****************
 * Modal Dialogs *
 *****************/

.lightbox { background-color: rgba(0, 0, 0, 0.4); }
.flashspot { background-color: white; }

.modal-dialog {
  padding: 0 5px 6px 5px;
  border: none;
  border-radius: 2px;
  border-image: url("assets/misc/modal.svg") 9 9 9 67;
  color: $osd_fg_color;
  background-color: transparentize($osd_bg_color, 0.1);

  > StBoxLayout:first-child {
    padding: 20px 10px 10px 10px;
  }

  &-button-box {
    spacing: 0;
    margin: 0;
    padding: 14px 10px;
    // border-image: url("assets/misc/button-box.svg") 9 9 9 9;
    border: none;
    background: none;

    .modal-dialog-button {
      height: 30px;
      padding-top: 0;
      padding-bottom: 0;

      @extend %osd_button;
      color: $osd_secondary_fg_color;
      &:hover,
      &:active,
      &:checked { color: $osd_fg_color; }
    }
  }
}


/***************
 * Run Dialogs *
 ***************/

.run-dialog {
  padding: 0 15px 10px 15px;
  border-image: url("assets/misc/osd.svg") 9 9 9 9;

  > * { padding: 0; }

  &-label {
    padding-bottom: 0;
    font-size: 0;
    font-weight: 700;
    color: $osd_fg_color;
  }

  &-error-label { color: $error_color; }

  &-error-box {
    padding-top: 15px;
    spacing: 5px;
  }
  &-completion-box {
    @include fontscaling($ref_size * 1.0);
    padding-left: 15px;
  }
  &-entry {
    width: 20em;
    padding: 7px;
    border-radius: 0;
    color: $osd_fg_color;
    caret-color: $osd_fg_color;
    selected-color: $selected_fg_color;
    selection-background-color: $selected_bg_color;

    @include entry(osd);

    &:focus { @include entry(osd-focus); }
  }
  .modal-dialog-button-box {
    border: none;
    background: none;
    background-gradient-direction: none;
    box-shadow: none;
  }
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: $warning_color;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;

  &-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;

    &:rtl {
      padding-left: 0;
      padding-right: 17px;
    }
  }
  &-description {
    padding-left: 17px;
    width: 28em;

    &:rtl { padding-right: 17px; }
  }
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;

  &:rtl {
    padding-right: 49px;
    padding-left: 32px;
  }

  &-item {
    color: $osd_secondary_fg_color;

    &:hover { color: $selected_fg_color; }

    &:ltr { padding-right: 1em; }
    &:rtl { padding-left: 1em; }

    &-icon:ltr { padding-right: 17px; }
    &-icon:rtl { padding-left: 17px; }

    &-name { @include fontscaling($ref_size * 1.1); }
  }
}


/*************
 * Magnifier *
 *************/

.magnifier-zoom-region {
  border: 2px solid $selected_bg_color;
  &.full-screen { border-width: 0; }
}


/************
 * Keyboard *
 ************/

#keyboard {
  border-width: 0;
  background-color: transparentize($osd_bg_color, 0.3);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  @include fontscaling($ref_size * 2.0);
  min-height: 2em;
  min-width: 2em;
  border-radius: 2px;
  border: 1px 0 0;
  color: inherit;
  font-weight: 700;

  @include button(normal);
  &:focus { @include button(focus); }
  &:hover,
  &:checked { @include button(hover); }
  &:active { @include button(active);}
  &:grayed { // FIXME
    border-color: $osd_borders_color;
    background-color: $osd_bg_color;
    color: $osd_fg_color;
  }
}                             

.keyboard-subkeys { //long press on a key popup
  padding: 5px;
  border-radius: 2px;
  -arrow-border-radius: 0;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 0;
  -arrow-rise: 0;
  -boxpointer-gap: 5px;
  background-color: $bg_color;
  color: $osd_fg_color;
  box-shadow: $z-depth-2;
}


/*****************************
 * Cinnamon Specific Section *
 *****************************/

//
// Menu (menu.js)
//
.menu {
  &-favorites-box {
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: $base_color;
    box-shadow: $z-depth-2;
  }

  &-favorites-button {
    padding: 10px;
    border: 1px solid transparent;

    &:hover { @extend %button:hover; }
  }

  &-places {

    &-box {
      margin: auto;
      padding: 10px;
      border: 0 solid transparent;
    }

    &-button { padding: 10px; }
  }

  &-categories-box { padding: 10px 30px 10px 30px; }

  &-applications-inner-box,
  &-applications-outer-box { padding: 10px 10px 0 10px; }

  &-application-button {
    padding: 7px;
    border: 1px solid transparent;
    color: $secondary_fg_color;

    // This style is used in menu application buttons
    // for applications which were newly installed
    &:highlighted { font-weight: 700; }

    &-selected {
      padding: 7px;
      border: 1px solid transparent;
      @extend %button:hover;
      color: $fg_color;

      &:highlighted { font-weight: 700; }
    }

    &-label:ltr { padding-left: 5px; }
    &-label:rtl { padding-right: 5px; }
  }

  &-category-button {
    padding: 7px;
    border: 1px solid transparent;
    color: $secondary_fg_color;

    &-selected {
      padding: 7px;
      border: 1px solid transparent;
      background-color: transparent;
      color: $selected_bg_color;
    }
    &-hover {
      @extend %button:hover;
      padding: 7px;
      border: 1px solid transparent;
      border-radius: 2px;
      color: $fg_color;
    }
    &-greyed {
      padding: 7px;
      border: 1px solid transparent;
      color: $insensitive_fg_color;
    }

    &-label:ltr { padding-left: 5px; }
    &-label:rtl { padding-right: 5px; }
  }

  // Name and description of the currently hovered item in the menu
  // This appears on the bottom right hand corner of the menu
  &-selected-app-box {
    height: 30px;
    padding: 0 30px;
    color: $insensitive_fg_color;
    text-align: right;

    &:rtl {
      height: 30px;
      padding-top: 10px;
    }
  }

  &-selected-app-title { font-weight: 700; }

  &-selected-app-description { max-width: 150px; }

  &-search-box:ltr { padding-left: 30px; }
  &-search-box-rtl { padding-right: 30px; }
}

#menu-search-entry {
  width: 250px;
  height: 15px;
  caret-color: $fg_color;
  font-weight: 500;
  @extend %entry;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: $fg_color;
}

// Context menu (at the moment only for favorites)
.menu-context-menu {
}

//
// OSD
//
.info-osd {
  spacing: 1em;
  padding: 16px;
  border-image: url("assets/misc/osd.svg") 9 9 9 9;
  color: $osd_fg_color;
  text-align: center;
  font-weight: 700;
}

.osd-window {
  min-width: 64px;
  min-height: 64px;
  spacing: 1em;
  padding: 20px;
  margin: 32px;
  border: none;
  border-radius: 5px;
  border-image: url("assets/misc/osd.svg") 9 9 9 9;
  color: $osd_fg_color;
  background: none;
  font-weight: 700;
  text-align: center;

.osd-monitor-label { @include fontscaling($ref_size * 3.0); }

  .level {
    height: 4px;
    padding: 0;
    border-radius: 0;
    background-color: transparentize($accent_color, 0.8);
    color: $accent_color;
  }
}

//
// Window list (windowList.js)
//
.window-list {

  &-box {
    spacing: 6px;
    padding-left: 10px;

    .panel-bottom & { padding-top: 1px; }
    .panel-top & { padding-bottom: 1px; }
  }

  &-item-label {
    width: 15em;
    min-width: 5px;
    font-weight: 700;
  }

  &-item-box {
    padding-left: 8px;
    padding-right: 8px;
    background-image: none;
    color: $osd_secondary_fg_color;
    font-weight: 700;

    &:hover {
      color: $osd_fg_color;

      .panel-bottom & { border-image: url("assets/panel/window-list-hover-bottom.svg") 3 3 1 3; }
      .panel-top & { border-image: url("assets/panel/window-list-hover-top.svg") 3 3 3 1; }
    }
    &:active,
    &:checked,
    &:focus {
      &, &:hover {
        color: $osd_fg_color;

        .panel-bottom & { border-image: url("assets/panel/window-list-active-bottom.svg") 3 3 1 3; }
        .panel-top & { border-image: url("assets/panel/window-list-active-top.svg") 3 3 3 1; }
      }
    }
  }

  &-item-demands-attention {
    background-gradient-start: $accent_color;
    background-gradient-end: $accent_color;
  }
}

///
// Sound Applet (status/volume.js)
//
.sound-button {
  width: 22px;
  height: 13px;
  padding: 8px;

  @extend %button;

  &-container {
    padding-right: 3px;
    padding-left: 3px;
  }
  StIcon { icon-size: 1.4em; }
}

.sound-track {
  &-infos { padding: 5px; }
  &-info {
    padding-top: 2px;
    padding-bottom: 2px;

    StIcon { icon-size: 16px; }

    StLabel {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &-box {
    max-width: 220px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sound-seek-box {
  padding-left: 15px;

  StLabel { padding-top: 2px; }
  StIcon { icon-size: 16px; }
}

.sound-seek-slider { width: 140px; }

.sound-volume-menu-item {
  padding: 0.4em 1.75em;

  StIcon {
    icon-size: 1.09em;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.sound-playback-control { padding: 5px 10px 10px 10px; }

// 2.8
.sound-player {
  padding: 0 4px;

  > StBoxLayout:first-child {
    padding: 5px 10px 12px 10px;
    spacing: 0.5em;

    StButton:small {
      width: 16px;
      height: 8px;
      padding: 1px;

      StIcon { icon-size: 12px; }
    }
  }

  &-generic-coverart {
    background: rgba(0, 0, 0, 0.2);
  }

  &-overlay {
    width: 290px;
    height: 70px;
    padding: 15px;
    spacing: 0.5em;
    border: 0 solid darken($osd_bg_color, 10%);
    border-bottom: 1px ;
    color: $osd_fg_color;
    background: transparentize(darken($osd_bg_color, 5%), 0.1);

    StButton {
      width: 22px;
      height: 13px;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid transparentize($osd_bg_color,1);
      color: $osd_fg_color;

      StIcon { icon-size: 16px; }

      &:hover{ @include button(osd-hover); }
      &:active { @include button(active); }
    }

    StBoxLayout { padding-top: 2px; }
  }

  .slider {
    height: 8px;
    padding: 0;
    border: none;
    -slider-height: 2px;
    -slider-background-color: scale-color($fg_color, $alpha: -20%); // background of the trough
    -slider-border-color: transparent; // trough border color
    -slider-active-background-color: $accent_color; // active trough fill
    -slider-active-border-color: transparent; // active trough border
    -slider-border-width: 0;
    -slider-handle-radius: 4px;
  }
}

//
// Workspace Switcher applet (workspaceSwitcher.js)
//
#workspaceSwitcher {
  spacing: 0;
  padding: 3px;
}

/* Controls the styling when using the "Simple buttons" option */
.workspace-switcher {
  padding-left: 3px;
  padding-right: 3px;
}

.workspace-button {
  width: 20px;
  height: 10px;
  padding: 3px;
  padding-top: 4px;
  color: $selected_fg_color;
  transition-duration: 0.2s;

  &:outlined,
  &:outlined:hover { color: $selected_bg_color; }
  &:hover { color: transparentize($selected_bg_color, 0.5) }
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 3px;
}

.workspace-graph .workspace {
  border: 1px solid transparentize(black, 0.6);
  background-gradient-direction: none;
  background-color: transparentize(black, 0.8);
}

.workspace-graph .workspace:active {
  border: 1px solid $selected_bg_color;
  background-gradient-direction: none;
}

.workspace-graph .workspace .windows {
  -active-window-background: lighten($osd_bg_color, 15%);
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: lighten($osd_bg_color, 15%);
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: lighten($osd_bg_color, 20%);
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: lighten($osd_bg_color, 5%);
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

//
// Panel Launchers Applet (panelLaunchers.js)
//
#panel-launchers-box {
  padding: 0 7px;
}

.panel-launcher {
  margin: 2px;
  padding: 2px 6px;

  &:hover {
    border: 0 solid $selected_bg_color;
    background-gradient-direction: none;

    .panel-bottom & {
      padding-bottom: 0;
      border-bottom-width: 2px;
    }
    .panel-top & {
      padding-top: 0;
      border-top-width: 2px;
    }
  }
}

//
// Overview corner
//
#overview-corner {
  background-image: url("assets/misc/overview.svg");

  &:hover { background-image: url("assets/misc/overview-hover.svg"); }
}

//
// Applets (applet.js) 
//
.applet {
  &-separator { padding: 1px 4px; }

  &-separator-line {
    width: 1px;
    // background: rgba(255, 255, 255, 0.12);
    background: transparent;
  }

  &-box {
    padding-left: 3px;
    padding-right: 3px;
    color: $osd_secondary_fg_color;
    text-shadow: none;

    &:hover {
      color: $osd_fg_color;
      background-color: rgba(0, 0, 0, 0.01);
      box-shadow: inset 0 -2px 0 $osd_indicator_color;
    }
  }

  &-label {
    color: $osd_secondary_fg_color;
    font-weight: 700;

    &:hover, .applet-box:hover > & {
      color: $osd_fg_color;
      text-shadow: none;
    }
  }

  &-icon {
    icon-size: 22px;
    color: $osd_secondary_fg_color;

    &:hover, .applet-box:hover > & {
      color: $osd_fg_color;
      text-shadow: none;
    }
  }

}

//
// User Applet
//
.user-icon {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.user-label {
    @include fontscaling($ref_size * 1.0);
    margin: 0;
    color: $fg_color;
    font-weight: 700;
}

//
// Desklets (desklet.js) 
//
.desklet {
  color: $osd_secondary_fg_color;

  &-with-borders {
    padding: 12px;
    padding-bottom: 16px;
    border-image: url("assets/misc/osd.svg") 9 9 9 9;
    color: $osd_fg_color;
  }
  &-with-borders-and-header {
    padding: 12px;
    padding-bottom: 17px;
    border-radius: 0;
    border-radius-topleft: 0;
    border-radius-topright: 0;
    border-image: url("assets/misc/desklet.svg") 9 9 9 9;
    color: $osd_fg_color;
  }
  &-header {
    @include fontscaling($ref_size * 1.0);
    padding: 12px;
    padding-bottom: 6px;
    border-image: url("assets/misc/desklet-header.svg") 9 9 9 9;
    color: $osd_fg_color;
  }
  &-drag-placeholder { 
    border: 2px solid $accent_color;
    background-color: transparentize($accent_color, 0.2);
  }
}

.photoframe-box {
  padding: 12px;
  padding-bottom: 16px;
  border-image: url("assets/misc/bg.svg") 9 9 9 9;
  color: $osd_fg_color;
}

//
// Workspace OSD
//
/*FIXME*/
.workspace-osd {
  @include fontscaling($ref_size * 3.6);
  /*color: red;*/
  text-shadow: black 5px 5px 5px;
  font-weight: 700;
}

//
// Notification Applet
//
.notification-applet-padding { padding: 0.5em 1em; }

.notification-applet-container { max-height: 100px; }

//
// Tile Preview
//
.tile-preview, .tile-preview.snap,
.tile-hud, .tile-hud.snap {
  border: 1px solid $accent_color;
  background-color: transparentize($accent_color, 0.2);
}

//
// Xkcd Desklet
//
.xkcd-box {
  padding: 6px;
  border: none;;
  border-radius: 0;
  background-color: transparent;
}

