//
// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant
//


// Import key colour-scheme defined at build-time.
@import 'key_colors';


//
// Foreground colors
//

$fg_color: if($nokto == 'false', #263238, #ECEFF1);
$secondary_fg_color: scale-color($fg_color, $alpha: -25%);

$dim_fg_color: scale-color($fg_color, $alpha: -60%);

$selected_fg_color: #FFFFFF;

$insensitive_fg_color: scale-color($fg_color, $alpha: -60%);
$insensitive_secondary_fg_color: scale-color($secondary_fg_color, $alpha: -60%);


//
// Inverted foreground colors
//

$inverted_fg_color: if($nokto == 'false', #ECEFF1, #263238);
$inverted_secondary_fg_color: scale-color($inverted_fg_color, $alpha: -25%);
$inverted_dim_fg_color: scale-color($inverted_fg_color, $alpha: -60%);


//
// Background colors
//

$bg_color: if($nokto == 'false', #FAFBFC, #3E515A);
$base_color: if($nokto == 'false', #FFFFFF, #445A64);
$secondary_dark_color: if($nokto == 'false', #ECEFF1, #37474F);

$fill_color: scale-color($fg_color, $alpha: -85%);
$semi_fill_color: scale-color($fg_color, $alpha: -93%);

$panel_bg_color: mix(#263238, #000000, 50%);

$selected_bg_color: $key_selection_color;

$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_fill_color: scale-color($fill_color, $alpha: -60%);


//
// Inverted background colors
//

$inverted_bg_color: if($nokto == 'false', #3E515A, #FAFBFC);
$inverted_base_color: #455A64;
$inverted_dim_bg_color: scale-color($inverted_bg_color, $alpha: -80%);


//
// Accent colors
//

$accent_color: $key_accent_color;
$accent_label_color: mix($key_accent_color, $fg_color, 80%);
$secondary_accent_color: scale-color($accent_color, $alpha: -20%);
$secondary_accent_label_color: scale-color($accent_label_color, $alpha: -20%);
$accent_fill_color: scale-color($accent_color, $alpha: -90%);
$accent_active_fill_color: scale-color($accent_color, $alpha: -75%);

$inverted_accent_label_color:
  mix($key_accent_color, $inverted_fg_color, 80%);
$inverted_secondary_accent_label_color:
  scale-color($inverted_accent_label_color, $alpha: -20%);


//
// Misc colors
//

$borders_color: if($nokto == 'false', scale-color(#000000, $alpha: -91%),
                                      scale-color(#000000, $alpha: -89%));
$borders_edge: scale-color(#000000, $alpha: -95%);
$top_hilight: $borders_edge;
$borders_highlight: scale-color(#FFFFFF, $alpha: -93%);
$insensitive_borders_color: $borders_color;

$link_color: #03A9F4;
$link_visited_color: #9C27B0;

$warning_color: #FF9800;
$error_color: #F44336;
$success_color: #00E676;

$suggested_color: $key_suggestion_color;


//
// OSD Foreground colors
//

$osd_fg_color: if($nokto == 'false', $inverted_fg_color, $fg_color);
$osd_secondary_fg_color: scale-color($osd_fg_color, $alpha: -25%);

$osd_dim_fg_color: scale-color($osd_fg_color, $alpha: -50%);

$insensitive_osd_fg_color: scale-color($osd_fg_color, $alpha: -60%);
$insensitive_osd_secondary_fg_color: scale-color($osd_secondary_fg_color, $alpha: -60%);


//
// OSD Background colors
//

$osd_bg_color: mix(#263238, #37474F, 75%);
$osd_base_color: if($nokto == 'false', $inverted_base_color, $bg_color);

$osd_fill_color: scale-color($osd_fg_color, $alpha: -60%);
$osd_semi_fill_color: scale-color($osd_fg_color, $alpha: -80%);
$osd_slight_fill_color: scale-color($osd_fg_color, $alpha: -88%);

$osd_indicator_color: $selected_bg_color;

$osd_borders_color: $borders_color;
$osd_outer_borders_color: transparent;
$tooltip_borders_color: $osd_borders_color;

$insensitive_osd_fill_color: scale-color($osd_fill_color, $alpha: -60%);

