// /*******************
//  * Xfce-Notify-4.0 *
//  *******************/

// FIXME: drop-shadow composition does not work
#XfceNotifyWindow {
  &, &:hover {
    border-radius: 2px;
    border: 1px solid $div_fg;
    color: if($variant == mixed, $inv_fg, $fg);
    @if $variant == mixed {
      background-color: track($inv_dark_bg, $a_osd);
    }
    @else {
      background-color: track($dark_bg, $a_osd);
    }
    box-shadow: none;
  }

  box.vertical {
    > label#summary {
      color: if($variant == mixed, $inv_fg, $fg);
      font-weight: 700;
    }

    > label#body {
      color: if($variant == mixed, $inv_sec_fg, $sec_fg);
    }
  }

  buttonbox button {
    @if $variant == mixed {
      @include button(flat-normal, $tc: $inv_sec_acc_fg);
      @include ink-reaction(normal, $fc: $inv_acc_fg, $tr: ink-normal-dec);
      font-weight: 500;
      &:hover {
        @include button(flat-hover, $tc: $inv_acc_fg);
      }
      &:active {
        @include button(flat-active, $tc: $inv_acc_fg);
        @include ink-reaction(active-dec, $fc: $inv_acc_fg, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $inv_fg);
      }
      &:checked {
        @include button(flat-checked, $tc: $inv_acc_fg);
        &:disabled {
          @include button(flat-checked-disabled, $tc: $inv_acc_fg);
        }
      }
    }
    @else {
      @include button(flat-normal, $tc: $sec_acc_fg);
      @include ink-reaction(normal, $fc: $acc_fg, $tr: ink-normal-dec);
      font-weight: 700;
      &:hover {
        @include button(flat-hover, $tc: $acc_fg);
      }
      &:active {
        @include button(flat-active, $tc: $acc_fg);
        @include ink-reaction(active-dec, $fc: $acc_fg, $tr: ink-active-dec);
      }
      &:disabled {
        @include button(flat-disabled, $tc: $fg);
      }
      &:checked {
        @include button(flat-checked, $tc: $acc_fg);
        &:disabled {
          @include button(flat-checked-disabled, $tc: $acc_fg);
        }
      }
    }
  }

  progressbar {
    min-width: $progress_size;
    min-height: $progress_size;

    trough {
      border-style: none;
      background-color: track($acc_bg, $trk_out_fg);
      box-shadow: none;
    }

    progress {
      border-style: none;
      border-radius: 0;
      background-image: none;
      background-color: $acc_bg;
    }
  }
}

