/**************
 * Bottom bar *
 **************/

@import url("stylesheet.css");

#panel.bottom-panel {
  height: 30px; // = 2.25em
  border-top-width: 1px;
  border-bottom-width: 0;
  border-color: $panel_bg_color;
  background-color: $panel_bg_color;
  color: $osd_fg_color;
}

