#
# Gimp
#
style "gimp_spin_scale" {
  bg[NORMAL] = @base_color

  engine "pixmap" {
    # Spin-Up
    image {
      function        = BOX
      state           = NORMAL
      detail          = "spinbutton_up"
      overlay_file    = "Arrows/up-alt-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = PRELIGHT
      detail          = "spinbutton_up"
      overlay_file    = "Arrows/up-alt-hover-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = ACTIVE
      detail          = "spinbutton_up"
      overlay_file    = "Arrows/up-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = INSENSITIVE
      detail          = "spinbutton_up"
      overlay_file    = "Arrows/up-alt-insensitive-dark.png"
      overlay_stretch = FALSE
    }

    # Spin-Down
    image {
      function        = BOX
      state           = NORMAL
      detail          = "spinbutton_down"
      overlay_file    = "Arrows/down-alt-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = PRELIGHT
      detail          = "spinbutton_down"
      overlay_file    = "Arrows/down-alt-hover-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = ACTIVE
      detail          = "spinbutton_down"
      overlay_file    = "Arrows/down-dark.png"
      overlay_stretch = FALSE
    }
    image {
      function        = BOX
      state           = INSENSITIVE
      detail          = "spinbutton_down"
      overlay_file    = "Arrows/down-alt-insensitive-dark.png"
      overlay_stretch = FALSE
    }
  }
}

# Disable gradients completely for GimpSpinScale
class "GimpSpinScale"                    style "gimp_spin_scale"
